-# Locals:
-#   model:
-#   attribute:
-#   column_type(optional):

- klass = model.class

- unless local_assigns.has_key?(:column_type)
  - unless (column = klass.columns_hash[attribute.to_s]).nil?
    - column_type = column.type
  - else
    - column_type = nil

- readonly = klass.readonly_attributes.include?(attribute.to_s)

.item
  - case column_type
  - when :boolean, :delegated_boolean, :virtual_boolean
    %dt
      = t 'formats.attribute_name?',
          :attribute => klass.human_attribute_name(attribute)
    %dd.boolean
      - shown_value = boolean_to_yes_no(model.public_send(attribute))
      - if readonly
        %b= shown_value
      - else
        = shown_value
  - when :date, :delegated_date, :virtual_date,
         :datetime, :delegated_datetime, :virtual_datetime
    %dt
      = t 'formats.attribute_name:',
          :attribute => klass.human_attribute_name(attribute)
    %dd
      - shown_value = l model.public_send(attribute), :format => :custom
      - if readonly
        %b= shown_value
      - else
        = shown_value
  - when :integer, :delegated_integer, :virtual_integer
    %dt
      = t 'formats.attribute_name:',
          :attribute => klass.human_attribute_name(attribute)
    %dd
      - shown_value = model.public_send(attribute)
      - if readonly
        %b= shown_value
      - else
        = shown_value
  - else
    %dt
      = t 'formats.attribute_name:',
          :attribute => klass.human_attribute_name(attribute)
    %dd
      - shown_value = model.public_send(attribute)
      - if readonly
        %b= shown_value
      - else
        = shown_value
