= form_for @membership, :as => :membership,
           :url => @membership_form_url do |f|

  = render 'shared/error_messages/validation', :target => @membership

  %dl.form_fields
    - @belongs_to_associations.each do |assoc|

      = render 'shared/forms/belongs_to_association',
               :form_builder => f,
               :association  => assoc,
               :association_name_attribute => @association_name_attributes[assoc]

    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

  .actions
    = f.submit
