= form_for @membership, :as => :membership,
           :url => @membership_form_url do |f|

  = render 'shared/error_messages/validation', :target => @membership

  %dl.form_fields
    - @belongs_to_association_names.each do |assoc_name|

      = render 'shared/forms/belongs_to_association',
               :form_builder => f,
               :association  => assoc_name,
               :association_name_attribute => @association_name_attributes[assoc_name]

    - @attribute_names.each do |attr_name|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attr_name

  .actions
    = f.submit
