%h1= t '.header', :title => @membership.virtual_title
- @membership_form_url = membership_path(@membership)

= render 'form'

%footer
  = link_to show_pictogram(3) + ' ' + t('memberships.show.header',
                                        :title => @membership.virtual_title),
            membership_path(@membership),
            :class => 'display resource'
  = link_to list_all_pictogram(3) + ' ' + t('memberships.index.header'),
            memberships_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('memberships.index.title'),
              memberships_path,
              :class => 'display resource'
