<%= form_tag sessions_path, :class => "login_form" do %>
  <dl class="form_fields">
    <div style="display:table-caption;text-align:center;"><%= t '.log_in' %></div>
    <div>
      <dt>
        <%= label_tag :username, t('sessions.labels.username') %>
      </dt>
      <dd>
        <%= text_field_tag :username %>
      </dd>
    </div>
    <div>
      <dt>
        <%= label_tag :password, t('sessions.labels.password') %>
      </dt>
      <dd>
        <%= password_field_tag :password %>
      </dd>
    </div>
    <div>
      <dt>
        <%= t 'sessions.labels.your_ip_address' %>
      </dt>
      <dd style="text-align:center;" >
        <%= @client_ip %>
      </dd>
    </div>
  </dl>
  <div class="actions" style="text-align:center;">
    <%= submit_tag t('.log_in') %>
  </div>
<% end %>
<div style="text-align:center;">
<%= logo(2) %>
</div>
