<div style="text-align:center;" >
<%= form_tag sessions_path do %>
  <table style="width:auto;margin:auto;border-bottom:1px solid #ccc;" >
    <caption style="text-align:center;" ><%= t '.log_in' %></caption>
    <tr>
      <td>
        <%= label_tag :username, t('sessions.labels.username') %>
      </td>
      <td>
        <%= text_field_tag :username %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :password, t('sessions.labels.password') %>
      </td>
      <td>
        <%= password_field_tag :password %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t 'sessions.labels.your_ip_address' %>
      </td>
      <td style="text-align:center;" >
        <%= @client_ip %>
      </td>
    </tr>
  </table>
  <p class="button" ><%= submit_tag t('.log_in') %></p>
<% end %>
<%= logo(2) %>
</div>
