<%= form_for(@known_ip) do |f| %>
  <% if @known_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@known_ip.errors.count, "error") %> prohibited this known IP from being saved:</h2>

      <ul>
      <% @known_ip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <table class="form">
      <tr class="field">
        <td><%= f.label :ip, t('field_labels.ip') %></td>
        <td><%= f.text_field :ip, :disabled => !@known_ip.new_record? %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :description, t('field_labels.description') %></td>
        <td><%= f.text_field :description %></td>
      </tr>
    </table>
  </fieldset>

  <div class="actions">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
