<%= form_for(@known_ip) do |f| %>
  <% if @known_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@known_ip.errors.count, "error") %> prohibited this known IP from being saved:</h2>

      <ul>
      <% @known_ip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <table class="fields">
      <% if @known_ip.new_record? %>
        <tr class="field">
          <td><%= f.label :ip, t('field_labels.ip') %></td>
          <td><%= f.text_field :ip %></td>
        </tr>
      <% else %>
        <tr class="field">
          <td><b><%= t 'field_labels.ip' %></b></td>
          <td><%= @known_ip.ip %></td>
        </tr>
      <% end %>
      <tr class="field">
        <td><%= f.label :description, t('field_labels.description') %></td>
        <td><%= f.text_field :description %></td>
      </tr>
    </table>
  </fieldset>

  <div class="actions" style="text-align:center;">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
