<%= form_for(@known_ip) do |f| %>
  <% if @known_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@known_ip.errors.count, "error") %> prohibited this known IP from being saved:</h2>

      <ul>
        <% @known_ip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag do %>
    <dl class="form_fields">
      <% if @known_ip.new_record? %>
        <div class="item">
          <dt><%= f.label :ip,
                          t('formats.attribute_name:',
                            :attribute => Admin::KnownIP.human_attribute_name(:ip)) %></dt>
          <dd class="required readonly input">
            <%= f.text_field :ip, :size => 30, :maxlength => 15, :required => :required %><!-- no space! --></dd>
        </div>
      <% else %>
        <div class="item field">
          <dt><b><%= t('formats.attribute_name:',
                       :attribute => Admin::KnownIP.human_attribute_name(:ip)) %></b></dt>
          <dd><%= @known_ip.ip %></dd>
        </div>
      <% end %>

      <div class="item field">
        <dt><%= f.label :description,
                        t('formats.attribute_name:',
                          :attribute => Admin::KnownIP.human_attribute_name(:description)) %></dt>
        <dd><%= f.text_field :description, :size => 30, :maxlength => 255 %></dd>
      </div>
    </dl>
  <% end %>

  <div class="actions">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
