<%= form_for(@known_ip) do |f| %>

  <%= render 'shared/validation_error_messages', :target => @known_ip %>

  <%= field_set_tag do %>
    <dl class="form_fields">
      <% [ :ip, :description ].each do |attribute| %>

        <%= render 'shared/attribute_in_form',
                   :form_builder => f,
                   :attribute    => attribute,
                   :column_type  => @column_types[attribute] %>


      <% end %>
    </dl>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
