<table class="form_fields">
  <colgroup><col /></colgroup>
  <colgroup><col /></colgroup>
  <colgroup><col /></colgroup>

  <thead>
    <tr>
      <th><%= Admin::KnownIP.human_attribute_name(:ip) %></th>
      <th><%= Admin::KnownIP.human_attribute_name(:description) %></th>
      <th class='boolean'><%= check_box_selection_header %></th>
    </tr>
  </thead>

  <tbody>
    <% known_ips.each do |known_ip| %>
      <tr class="field">
        <th scope=row>
          <%= label_tag id_prefix+"_#{known_ip.id}", known_ip.ip %>
        </th>

        <td>
          <%= known_ip.description %>
        </td>

        <td class="boolean">
          <%= check_box_tag array_name+"[]",
                            known_ip.id,
                            @user.safe_ips.include?(known_ip),
                            :id => id_prefix+"_#{known_ip.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

