<h1><%= t '.header' %></h1>

<%= render :layout => 'shared/in_simple_index_table',
           :locals => { :attributes => @attributes,
                        :column_types_o_hash => @column_types_o_hash,
                        :model_class => Admin::KnownIP,
                        :table_name => :known_ips } do %>

  <%= render :partial => 'shared/model_in_index',
             :collection => @known_ips,
             :as => :model,
             :locals => { :attributes => @attributes,
                          :column_types_o_hash => @column_types_o_hash,
                          :edit_path_helper_method => method(:edit_admin_known_ip_path) } %>

<% end %>

<footer>
  <%= link_to add_pictogram+' '+t('admin.known_i_ps.links.new'),
              new_admin_known_ip_path,
              :title => t('actions.create'),
              :class => 'add resource' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.known_i_ps.links.new'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
