<h1><%= t '.header' %></h1>

<table>
  <tr>
    <th><%= t 'field_labels.ip' %></th>
    <th><%= t 'field_labels.description' %></th>
    <th></th>
    <th></th>
  </tr>

  <% @known_ips.each do |known_ip| %>
    <tr>
      <td><%= link_to known_ip.ip, known_ip, :title => t('actions.read') %></td>
      <td><%= known_ip.description %></td>
      <td>
        <%= link_to edit_icon, edit_admin_known_ip_path(known_ip),
                    :title => t('actions.update'),
                    :class => 'modify' %>
      </td>
      <td>
        <%= link_to delete_icon, known_ip,
                    :confirm => t("questions.are_you_sure?"),
                    :method => :delete,
                    :title  => t('actions.delete'),
                    :class  => 'modify' %>
      </td>
    </tr>
  <% end %>
</table>

<hr/>

<%= link_to add_icon(2)+t('admin.known_i_ps.links.new'), new_admin_known_ip_path,
            :title  => t('actions.create'),
            :class => 'modify' %>
