<h1><%= t 'admin.known_ips.index.header' %></h1>

<table>
  <tr>
    <th>IP</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @known_ips.each do |known_ip| %>
  <tr>
    <td><%= known_ip.ip %></td>
    <td><%= known_ip.description %></td>
    <td><%= link_to 'Show', known_ip %></td>
    <td><%= link_to 'Edit', edit_admin_known_ip_path(known_ip) %></td>
    <td><%= link_to 'Destroy', known_ip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Known IP', new_admin_known_ip_path %>
