%h1= t '.header', :ip => @known_ip.ip

%section
  %h2= t 'admin.known_i_ps.show.subheaders.known_ip_data'

  %dl.show

    = render 'shared/lists/description',
      :object     => @known_ip,
      :attributes => @attribute_names

%section
  %h2= Admin::KnownIP.human_attribute_name(:safe_users)

  - unless @safe_users.empty?
    = render 'shared/tables/simple_index',
             :collection    => @safe_users,
             :attributes    => @safe_user_attribute_names,
             :html_table_id => :safe_users

%footer
  = link_to edit_pictogram(3) + ' ' + t('admin.known_i_ps.edit.header',
                                        :ip => @known_ip.ip),
            edit_known_ip_path(@known_ip),
            :class => 'modify resource'
  = link_to list_all_pictogram(3) + ' ' + t('admin.known_i_ps.index.header'),
            known_ips_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('admin.known_i_ps.index.title'),
              known_ips_path,
              :class => 'display resource'
  %li
    = link_to add_pictogram + ' ' + t('admin.known_i_ps.new.title'),
              new_known_ip_path,
              :title => t('actions.create'),
              :class => 'add resource'
