<h1><%= t '.header', :ip => @known_ip.ip %></h1>

<section>
  <h2><%= t 'admin.known_i_ps.show.subheaders.known_ip_data' %></h2>

  <dl class="show">
    <%= render :partial => 'shared/important_attribute_in_show',
               :collection =>  @key_attributes,
               :as => :attribute,
               :locals => { :model => @known_ip } %>

    <%= render :partial => 'shared/attribute_in_show',
               :collection =>  @other_main_attributes,
               :as => :attribute,
               :locals => { :model => @known_ip } %>
  </dl>
</section>

<section>
  <h2><%= Admin::KnownIP.human_attribute_name(:safe_users) %></h2>

  <% unless @safe_users.blank? %>
    <%= render :layout => 'shared/in_simple_index_table_for_association',
               :locals => { :attributes => @safe_users_attributes,
                            :column_types_o_hash => @safe_users_column_types_o_hash,
                            :model_class => Admin::User,
                            :table_name => :safe_users } do %>

      <%= render :partial => 'shared/model_in_index_for_association',
                 :collection => @safe_users,
                 :as => :model,
                 :locals => { :attributes => @safe_users_attributes,
                              :column_types_o_hash => @safe_users_column_types_o_hash } %>

    <% end %>
  <% end %>
</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'),
              edit_admin_known_ip_path(@known_ip),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.known_i_ps.links.show_all'),
              admin_known_ips_path,
              :class => 'display resource' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.known_i_ps.links.show_all'),
                  admin_known_ips_path,
                  :class => 'display resource' %></li>
  <li><%= link_to t('admin.known_i_ps.links.new'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
