<h1><%= t '.header', :ip => @known_ip.ip %></h1>

<table style="width:auto;">
  <tr>
    <td><b><%= t('field_labels.ip') %></b></td>
    <td><b><%= @known_ip.ip %></b></td>
  </tr>

  <tr>
    <td><b><%= t 'field_labels.description' %></b></td>
    <td><%= @known_ip.description %></td>
  </tr>
</table>

<hr/>

<%= link_to edit_icon(2)+t('.links.update'),
            edit_admin_known_ip_path(@known_ip),
            :class => 'modify' %>
<%= link_to list_all_icon(2)+t('admin.known_i_ps.links.show_all'), admin_known_ips_path %>
