<h1><%= t '.header', :ip => @known_ip.ip %></h1>

<section>
  <h2><%= t 'admin.known_i_ps.show.subheaders.known_ip_data' %></h2>

  <dl class="show">

    <% @attributes.each do |attr| %>
      <%= render 'shared/lists/attribute_in_show',
                 :attribute => attr,
                 :model     => @known_ip %>
    <% end %>

  </dl>
</section>

<section>
  <h2><%= Admin::KnownIP.human_attribute_name(:safe_users) %></h2>

  <%= render('shared/tables/simple_index',
             :models                    => @safe_users,
             :attributes                => @safe_users_attributes,
             :column_types              => @users_column_types,
             :column_headers            => @users_column_headers,
             :resources_controller_name => Admin::UsersController.controller_path,
             :html_table_id             => :safe_users) unless @safe_users.empty? %>

</section>

<footer>
  <%= link_to edit_pictogram(3) + ' ' + t('admin.known_i_ps.edit.header',
                                      :ip => @known_ip.ip),
              edit_known_ip_path(@known_ip),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(3) + ' ' + t('admin.known_i_ps.index.header'),
              known_ips_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('admin.known_i_ps.index.title'),
                  known_ips_path,
                  :class => 'display resource' %></li>
  <li><%= link_to add_pictogram + ' ' + t('admin.known_i_ps.new.title'),
                  new_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
