<p id="notice"><%= notice %></p>

<p>
  <b>IP:</b>
  <%= @known_ip.ip %>
</p>

<p>
  <b>Description:</b>
  <%= @known_ip.description %>
</p>


<%= link_to edit_icon(2)+t('.links.update'),
            edit_admin_known_ip_path(@known_ip),
            :class => 'modify' %> |
<%= link_to list_all_icon(2)+t('admin.known_i_ps.links.show_all'), admin_known_ips_path %>
