<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.known_i_ps.links.show_all'), admin_known_ips_path,
                  :class => 'display' %></li>
  <li><%= link_to t('admin.known_i_ps.links.new'), new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add' %></li>
<% end %>

<h1><%= t '.header', :ip => @known_ip.ip %></h1>

<section>
  <h2><%= t 'admin.known_i_ps.show.subheaders.known_ip_data' %></h2>

  <dl class="show">
    <% @key_displayed_columns.each do |attribute| %>
      <div>
        <dt><%= Admin::KnownIP.human_attribute_name(attribute) %></dt>
        <dd><b><%= @known_ip.public_send(attribute) %></b></dd>
      </div>
    <% end %>

    <% @main_displayed_columns.each do |attribute| %>
      <div>
        <dt><%= Admin::KnownIP.human_attribute_name(attribute) %></dt>
        <dd><%= @known_ip.public_send(attribute) %></dd>
      </div>
    <% end %>
  </dl>
</section>

<section>
  <h2><%= Admin::KnownIP.human_attribute_name(:safe_users) %></h2>

  <% unless @safe_users.blank? %>
    <%= render 'admin/users/index_table_for_association',
               :users => @safe_users,
               :displayed_columns => @safe_users_displayed_columns,
               :table_name => :safe_users %>
  <% end %>
</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'),
              edit_admin_known_ip_path(@known_ip),
              :class => 'modify' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.known_i_ps.links.show_all'),
              admin_known_ips_path,
              :class => 'display' %>
</footer>
