<h1><%= t '.header', :title => @activity_period.unique_title %></h1>

<%= render 'form' %>

<footer>
  <%= link_to show_pictogram(3) + ' ' + t('activity_periods.show.header',
                                          :title => @activity_period.unique_title),
              activity_period_path(@activity_period),
              :class => 'display resource' %>
  <%= link_to list_all_pictogram(3) + ' ' + t('activity_periods.index.header'),
              activity_periods_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('activity_periods.index.title'),
                  activity_periods_path,
                  :class => 'display resource' %></li>
<% end %>
