<hgroup>
  <h1><%= t '.header' %></h1>

  <h2 id="activity_periods_count">
    <% if @filtering_values.blank? %>
      <%= t '.count_total', :count => ActivityPeriod.count %>
    <% else %>
      <%= t '.count_filtered', :count => @activity_periods.size,
                               :total => ActivityPeriod.count %>
    <% end %>
  </h2>
</hgroup>

<div id="activity_periods_table">

  <%= render 'shared/tables/filtered_index',
             :models           => @activity_periods,
             :attributes       => @attributes,
             :column_types     => @column_types,
             :column_headers   => @column_headers,
             :html_table_id    => :activity_periods,
             :filtering_values => @filtering_values %>

</div>

<footer>
  <%= link_to add_pictogram(2) + ' ' + t('activity_periods.new.header'),
              new_activity_period_path,
              :title => t('actions.create'),
              :class => 'add resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to add_pictogram + ' ' + t('activity_periods.new.title'),
                  new_activity_period_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
