-# Locals:
-#   collection1:
-#   collection2:
-#   association_attribute1:
-#   key1:
-#   key2:
-#   description1:
-#   description2:
-#   id_array_name:

%table.grid.form_fields
  %colgroup
    %col
  %colgroup
    - collection2.size.times do
      %col
  %thead
    %tr
      %th.empty
      - collection2.each do |obj2|
        %th
          %span{ :title => obj2.public_send(description2) }
            = obj2.public_send(key2)
  %tbody
    - collection1.each do |obj1|
      %tr
        %th{ :scope => 'row' }
          %span{ :title => obj1.public_send(description1) }
            = obj1.public_send(key1)
        - collection2.each do |obj2|
          %td.boolean
            = check_box_tag "#{ id_array_name }[#{ obj1.id }][]", obj2.id,
                obj1.public_send(association_attribute1).include?(obj2)
