-# Locals:
-#   attributes:
-#   column_types (optional):
-#   column_headers (optional):
-#   html_table_id:
-#   models:
-#   selected_models (optional):
-#   id_prefix:
-#   array_name:
-#   klass (optional):

- unless local_assigns.key? :klass
  - klass = models.klass

- unless local_assigns.key? :column_types
  -# It is assumed here that PseudoColumns module is included
  - column_types = klass.column_db_types

- unless local_assigns.key? :column_headers
  -# It is assumed here that AbstractHumanizedModel module is included
  - column_headers = klass.human_column_headers

- if local_assigns[:selected_models]
  - unselected_models = models - selected_models
- else
  - unselected_models = models

= content_tag :table, :class => 'form_fields' do
  %colgroup
    %col
  %colgroup.attributes
    - attributes.size.times do
      %col

  %thead
    %tr
      %th.empty.boolean

      = render 'shared/tables/headers',
               :attributes     => attributes,
               :column_types   => column_types,
               :column_headers => column_headers,
               :html_table_id  => html_table_id

  %tbody
    - unless selected_models.nil?
      - selected_models.each do |mod|
        %tr.field
          %td.boolean
            = check_box_tag array_name + '[]', mod.id, true,
                            :id => id_prefix + "_#{mod.id}"

          = render 'shared/forms/attributes_in_selection_index',
                   :model        => mod,
                   :attributes   => attributes,
                   :column_types => column_types,
                   :id_prefix    => id_prefix

    - unless unselected_models.nil?
      - unselected_models.each do |mod|
        %tr.field
          %td.boolean
            = check_box_tag array_name+'[]', mod.id, false,
                            :id => id_prefix + "_#{mod.id}"

          = render 'shared/forms/attributes_in_selection_index',
                   :model        => mod,
                   :attributes   => attributes,
                   :column_types => column_types,
                   :id_prefix    => id_prefix
