%hgroup
  %h1= t '.header'
  %h2#membership_types_count
    - if @filtering_values.blank?
      = t '.count_total', :count => MembershipType.count
    - else
      = t '.count_filtered', :count => @filtered_membership_types_count,
                             :total => MembershipType.count
#membership_types_table

  = render 'shared/tables/filtered_index',
           :collection       => @membership_types,
           :attributes       => @attributes,
           :html_table_id    => :membership_types,
           :filtering_values => @filtering_values

%footer
  = link_to add_pictogram(2) + ' ' + t('membership_types.new.header'),
            new_membership_type_path,
            :title => t('actions.create'),
            :class => 'add resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to add_pictogram + ' ' + t('membership_types.new.title'),
              new_membership_type_path,
              :title => t('actions.create'),
              :class => 'add resource'
