<%= t('actions.download_resources:', :resources => t('instructors.index.terms.filtered_instructors'))%>
<%= form_tag({ :format => :ms_excel_2003_xml },
               :method => :get,
               :id     => 'download_instructors_in_ms_excel_2003_xml',
               :target => '_blank',
               :style  => 'display:inline' ) do %>

  <%= hidden_field_tags_from_param_hash params.slice(:filter, :sort, :per_page) %>

  <span class="actions">
    <%= hidden_field_tag :query_type, 'render_alternative_format' %>
    <%= content_tag :button, 'MS Excel 2003 XML',
                    :name  => 'button',
                    :type  => 'submit',
                    :value => 'download_button' %>
  </span>
<% end %>

<%= form_tag({ :format => :csv },
             :method => :get,
             :id     => 'download_instructors_in_csv',
             :target => '_blank',
             :style  => 'display:inline' ) do %>

  <%= hidden_field_tags_from_param_hash params.slice(:filter, :sort, :per_page) %>

  <span class="actions">
    <%= hidden_field_tag :query_type, 'render_alternative_format' %>
    <%= content_tag :button, 'CSV',
                    :name  => 'button',
                    :type  => 'submit',
                    :value => 'download_button' %>
  </span>
<% end %>
