%h1= t '.header', :name => @instructor.full_name

= render 'form'

%footer
  = link_to show_pictogram(3) + ' ' + t('instructors.show.header',
                                        :name => @instructor.full_name),
            instructor_path(@instructor),
            :class => 'display resource'
  = link_to list_all_pictogram(3) + ' ' + t('instructors.index.header'),
            instructors_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('instructors.index.title'),
              instructors_path,
              :class => 'display resource'
