%hgroup
  %h1= t '.header'

  %h2#instructors_count
    - if @filtering_values.blank?
      = t '.count_total', :count => Instructor.count
    - else
      = t '.count_filtered', :count => @filtered_instructors_count,
                             :total => Instructor.count

#instructors_table

  = render 'shared/tables/filtered_index',
           :collection       => @instructors,
           :attributes       => @attribute_names,
           :html_table_id    => :instructors,
           :filtering_values => @filtering_values

= render('downloads')

#instructors_mailing_list

  = render('emailing_list')

%footer
  = link_to add_pictogram(2) + ' ' + t('instructors.new.header'),
            new_instructor_path,
            :title => t('actions.create'),
            :class => 'add resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to add_pictogram + ' ' + t('instructors.new.title'),
              new_instructor_path,
              :title => t('actions.create'),
              :class => 'add resource'
