<h1><%= t '.header', :name => @instructor.full_name %></h1>

<dl class="show">

  <% @attributes.each do |attr| %>
    <%= render 'shared/lists/attribute_in_show',
               :model       => @instructor,
               :attribute   => attr,
               :column_type => @column_types[attr] %>
  <% end %>

</dl>

<footer>
  <%= link_to edit_pictogram(3) + ' ' + t('instructors.edit.header',
                                      :name => @instructor.full_name),
              edit_instructor_path(@instructor),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(3) + ' ' + t('instructors.index.header'),
              instructors_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('instructors.index.title'),
                  instructors_path,
                  :class => 'display resource' %></li>
  <li><%= link_to add_pictogram + ' ' + t('instructors.new.title'),
                  new_instructor_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
