-# Locals:
-#   models:
-#   attributes:
-#   column_types (optional):
-#   column_headers:
-#   html_table_id:
-#   filtering_values:
-#   klass (optional):

- unless local_assigns.key? :klass
  - klass = models.klass

- unless local_assigns.key? :column_types
  -# It is assumed here that PseudoColumns module is included
  - column_types = klass.column_db_types

%form{:method => :get}
  = hidden_fields_from_nested_hash params.slice(:filter, :sort)

  %label{:for => :per_page}
    = t('field_labels.per_page')
  %select{:name => :per_page, :class => 'number'}
    = options_for_select [5, 10, 25, 50, 100, 250, 500, 1000],
                         params[:per_page] || klass.default_per_page
  %span.actions
    %button{ :name  => 'button',
             :type  => 'submit',
             :value => 'repaginate' }
      = t('buttons.repaginate')

= paginate models

%form{ :id     => (filter_form_id = "#{ html_table_id }_filter"),
       :method => :get }
  = hidden_fields_from_nested_hash params.slice(:filter, :sort)

%form{ :id     => (clear_filter_form_id = "#{ html_table_id }_clear_filter"),
       :method => :get }
  = hidden_fields_from_nested_hash params.slice(:sort)

%table{ :id    => html_table_id,
        :class => (filtering_values.blank? ? '' : 'filtered ') + 'records' }
  %colgroup.attributes
    - attributes.size.times do
      %col
  %colgroup
    %col
    %col
  %thead
    %tr
      - attributes.each do |attr|

        = render 'shared/tables/sorting_header',
                 :attribute     => attr,
                 :column_type   => column_types[attr],
                 :column_header => column_headers[attr],
                 :html_table_id => html_table_id

      %th.empty
      %th.empty
    %tr
      - attributes.each do |attr|

        = render 'shared/tables/filtering_field',
                 :filter_form_id  => filter_form_id,
                 :attr            => attr,
                 :select_from     => klass.possible_values_of(attr),
                 :column_type     => column_types[attr],
                 :value_or_values => filtering_values[attr]

      %td.empty
      %td.empty
    %tr
      %td{:colspan => attributes.size, :class => 'actions'}
        %button{ :form  => filter_form_id,
                 :name  => 'button',
                 :type  => 'submit',
                 :value => 'filter' }
          = t('buttons.filter')

        %button{ :form  => clear_filter_form_id,
                 :name  => 'button',
                 :type  => 'submit',
                 :value => 'filter' }
          = t('buttons.clear')

      %td.empty
      %td.empty
    - unless filtering_values.blank?
      %tr
        - attributes.each do |attr|

          = render 'shared/tables/filtering_value',
                   :value_or_values => filtering_values[attr],
                   :column_type     => column_types[attr]

        %td.empty
        %td.empty

  = render 'shared/tables/index_body',
           :models       => models,
           :attributes   => attributes,
           :column_types => column_types

-# </table>

= paginate models
