-# Locals:
-#   filer_form_id:
-#   select_from:
-#   attr:
-#   column_type:
-#   value_or_values:

- select_from = nil unless select_from.respond_to?(:size) &&      |
                           (select_size = select_from.size) <= 10 |
- if select_from
  - case column_type
  - when :string, :delegated_string, :virtual_string
    - if value_or_values.is_a?(String)
      - value_or_values = value_or_values.sub(/\%\z/, '')
      - value_or_values = select_from.find { |c|      |
          c.mb_chars.upcase.to_s == value_or_values } |
    - css_class = 'text field'
  - when :boolean, :delegated_boolean, :virtual_boolean
    - css_class = 'boolean field'
  - when :integer, :delegated_integer, :virtual_integer
    - css_class = 'number field'
  - when :date, :delegated_date, :virtual_date
    - css_class = 'date field'
  = content_tag :td, :class => css_class do
    = select_tag "filter[#{attr}]",
                 options_for_select(select_from,
                                    value_or_values),
                 :include_blank => true,
                 :form          => filter_form_id
- else
  - case column_type
  - when :string, :delegated_string, :virtual_string
    %td.text.field
      = search_field_tag "filter[#{attr}]",
                         value_or_values,
                         :form => filter_form_id
  - when :boolean, :delegated_boolean, :virtual_boolean
    %td.boolean.field
      = radio_button_tag "filter[#{attr}]",
                         'yes',
                         value_or_values,
                         :form => filter_form_id
      = label_tag 'filter_' + attr.to_s + '_yes', t('yes')
      = radio_button_tag "filter[#{attr}]",
                         'no',
                         value_or_values == false,
                         :form => filter_form_id
      = label_tag 'filter_' + attr.to_s + '_no', t('no')
      = radio_button_tag "filter[#{attr}]",
                         'all',
                         value_or_values.nil? ,
                         :form => filter_form_id
      = label_tag 'filter_' + attr.to_s + '_all', t('all')
  - when :integer, :delegated_integer, :virtual_integer
    %td.number.field<
      - value_or_values ||= {}
      = label_tag "filter[#{attr}][min]",
                  t('formats.attribute_name:', :attribute => 'min')
      = number_field_tag "filter[#{attr}][min]",
                         value_or_values[:min],
                         :form => filter_form_id,
                         :size => 6
      %br>
      = label_tag "filter[#{attr}][max]",
                  t('formats.attribute_name:', :attribute => 'max')
      = number_field_tag "filter[#{attr}][max]",
                         value_or_values[:max],
                         :form => filter_form_id,
                         :size => 6
  - when :date, :delegated_date, :virtual_date
    %td.date.field
      - value_or_values ||= {}
      = label_tag "filter[#{attr}][from]", t('date.from')
      = date_select "filter[#{attr}][from]",
                    value_or_values[:from],
                    :form => filter_form_id,
                    :type => 'date'
      %br>
      = label_tag "filter[#{attr}][until]", t('date.until')
      = date_select "filter[#{attr}][until]",
                    value_or_values[:until],
                    :form => filter_form_id,
                    :type => 'date'
  - else
    %td
