-# Locals:
-#   value_or_values:
-#   column_type:

- if value_or_values.blank?
  %td
- else
  - css_class = { :string  => 'text',
                  :boolean => 'boolean',
                  :integer => 'number',
                  :date    => 'date' }[column_type]

  %td.filtering_value{ :class => css_class }
    - case column_type
    - when :boolean
      = boolean_to_yes_no(value_or_values)
    - when :integer
      - if value_or_values.key?(:min)
        = value_or_values[:min]
      \..
      - if value_or_values.key?(:max)
        = value_or_values[:max]
    - when :date
      - if value_or_values.key?(:from)
        = t 'date.from'
        = value_or_values[:from]
      - if value_or_values.key?(:until)
        = t 'date.until'
        = value_or_values[:until]
    - else
      = value_or_values
