-# Locals:
-#   model:
-#   associated_collection1:
-#   associated_collection2:
-#   find_by_ids_method:
-#   attribute_presentation_helper:
-#   key1:
-#   key2:
-#   description1:
-#   description2:

%table.grid
  %caption
  %colgroup
    %col
  %colgroup
    - associated_collection2.size.times do
      %col
  %thead
    %tr
      %th.empty
      - associated_collection2.each do |obj2|
        %th
          = link_to obj2.public_send(key2),
                    { :controller => obj2.controller_path,
                      :action     => :show,
                      :id         => obj2 },
                    :title => obj2.public_send(description2),
                    :class => 'display resource'
  %tbody
    - associated_collection1.each do |obj1|
      %tr
        %th{:scope => "row"}
          = link_to obj1.public_send(key1),
                    { :controller => obj1.controller_path,
                      :action     => :show,
                      :id         => obj1 },
                    :title => obj1.public_send(description1),
                    :class => 'display resource'
        - associated_collection2.each do |obj2|
          %td.grid_index
            - if object = model.public_send(find_by_ids_method, obj1.id, obj2.id)
              %span
                = link_to send(attribute_presentation_helper, object),
                          { :controller => object.controller_path,
                            :action     => :show,
                            :id         => object },
                          :title => t('actions.read'),
                          :class => 'display resource'
              %span.operation
                = link_to edit_pictogram(2),
                          { :controller => object.controller_path,
                            :action     => :edit,
                            :id         => object },
                          :title => t('actions.update'),
                          :class => 'modify resource'
              %span.operation
                = link_to delete_pictogram(2),
                          { :controller => object.controller_path,
                            :action     => :destroy,
                            :id         => object },
                          :data   => { :confirm => t('questions.are_you_sure?') },
                          :method => :delete,
                          :title  => t('actions.delete'),
                          :class  => 'modify resource'
            - else
              %span
                = link_to add_pictogram(2) + ' ' + t('actions.create'),
                          { :controller => model.controller_path,
                            :action     => :new },
                          :title => t('actions.create'),
                          :class => 'add resource'
