<%# Locals:
      model:
      attribute:
-%>

<div class="item">
  <%- case model.column_for_attribute(attribute).type -%>
  <%- when :boolean, :delegated_boolean, :virtual_boolean -%>
    <dt>
      <%= t 'formats.attribute_name?',
            :attribute => model.class.human_attribute_name(attribute) %>
    </dt>
    <dd><%= boolean_to_yes_no(model.public_send(attribute)) %></dd>
  <%- when :datetime, :delegated_datetime, :virtual_datetime -%>
    <dt>
      <%= t 'formats.attribute_name:',
            :attribute => model.class.human_attribute_name(attribute) %>
    </dt>
    <dd><%= l model.public_send(attribute), :format => :custom %></dd>
  <%- else -%>
    <dt>
      <%= t 'formats.attribute_name:',
            :attribute => model.class.human_attribute_name(attribute) %>
    </dt>
    <dd><%= model.public_send(attribute) %></dd>
  <%- end -%>
</div>
