<%= form_tag nil, :method => :get do %>
  <%= content_tag :table,
                  :id => table_name,
                  :class => (filter.blank? ? '' : 'filtered ')+'records' do %>
    <colgroup class="attributes">
      <% attributes.size.times do %><col /><% end %>
    </colgroup>
    <colgroup><col /><col /></colgroup>
    <thead>
      <tr>
        <%= content_tag :td, :colspan => attributes.size,
                             :class => 'actions' do %>

          <%= paginate models %>

        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
      <tr>
        <%= render 'shared/sorting_table_headers',
                   :column_types_o_hash => column_types_o_hash,
                   :model_class => model_class,
                   :table_name => table_name %>
        <th class="empty"></th>
        <th class="empty"></th>
      </tr>
      <% unless filter.blank? %>
        <tr>
          <% column_types_o_hash.each do |attr, col_type| %>
            <% unless filter[attr].nil? %>
              <%- case col_type -%>
              <%- when :string -%>
                <td class="filtering_value">
                  <%= filter[attr] %>
                </td>
              <%- when :boolean -%>
                <td class="boolean filtering_value">
                  <%= boolean_to_yes_no(filter[attr]) %>
                </td>
              <% end %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td class="empty"></td>
          <td class="empty"></td>
        </tr>
      <% end %>
      <tr>
        <% column_types_o_hash.each do |attr, col_type| %>
          <td class="field">
            <%- case col_type -%>
            <%- when :string -%>
              <%= text_field_tag "filter[#{attr}]", filter[attr] %>
            <%- when :boolean -%>
              <%= radio_button_tag "filter[#{attr}]",
                                   'yes',
                                   filter[attr] %>
              <%= label_tag 'filter_'+attr.to_s+'_yes', t('yes') %>
              <br />
              <%= radio_button_tag "filter[#{attr}]",
                                   'no',
                                   filter[attr] == false %>
              <%= label_tag 'filter_'+attr.to_s+'_no', t('no') %>
              <br />
              <%= radio_button_tag "filter[#{attr}]",
                                   'all',
                                   filter[attr].nil? %>
              <%= label_tag 'filter_'+attr.to_s+'_all', t('all') %>
            <%- end -%>
          </td>
        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
      <tr>
        <%= content_tag :td, :colspan => attributes.size,
                             :class => 'actions' do %>
          <%= hidden_field_tag 'query_type', 'filter' %>
          <%= content_tag :button,
                          t('buttons.filter'),
                          :name => 'filter_button',
                          :type => 'submit',
                          :value => 'clicked' %>
        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <%= content_tag :td, :colspan => attributes.size,
                             :class => 'actions' do %>

          <%= paginate models %>

        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
    </tfoot>

    <%= render :partial => 'shared/index_table_body',
               :object => models,
               :as => :models,
               :locals => { :attributes              => attributes,
                            :column_types_o_hash     => column_types_o_hash,
                            :edit_path_helper_method => edit_path_helper_method } %>

  <% end %>
<% end %>
