<%= content_tag :table, :class => 'form_fields' do %>
  <colgroup><col /></colgroup>
  <colgroup class="attributes">
    <% attributes.size.times do %><col /><% end %>
  </colgroup>

  <thead>
    <tr>
      <th class='boolean empty'></th>
      <%= render 'shared/table_headers',
                 :column_types_o_hash => column_types_o_hash,
                 :model_class => model_class,
                 :table_name => table_name %>
    </tr>
  </thead>

  <tbody>
    <% selected.each do |model| %>
      <tr class="field">
        <td class="boolean">
          <%= check_box_tag array_name+"[]",
                            model.id,
                            true,
                            :id => id_prefix+"_#{model.id}" %>
        </td>

        <%= render :partial => 'shared/model_attributes_in_selection_table_form',
                   :object => model,
                   :as => :model,
                   :locals => { :attributes => attributes,
                                :column_types_o_hash => column_types_o_hash,
                                :id_prefix => id_prefix } %>

      </tr>
    <% end unless selected.nil? %>

    <% unselected.each do |model| %>
      <tr class="field">
        <td class="boolean">
          <%= check_box_tag array_name+"[]",
                            model.id,
                            false,
                            :id => id_prefix+"_#{model.id}" %>
        </td>

        <%= render :partial => 'shared/model_attributes_in_selection_table_form',
                   :object => model,
                   :as => :model,
                   :locals => { :attributes => attributes,
                                :column_types_o_hash => column_types_o_hash,
                                :id_prefix => id_prefix } %>
      </tr>
    <% end unless unselected.nil? %>
  </tbody>
<% end %>
