<%# Locals:
      attributes:
      column_types:
      column_headers:
      html_table_id:
      selected_models:
      unselected_models:
      id_prefix:
      array_name:
-%>

<%= content_tag :table, :class => 'form_fields' do %>
  <colgroup><col /></colgroup>
  <colgroup class="attributes">
    <% attributes.size.times do %><col /><% end %>
  </colgroup>

  <thead>
    <tr>
      <th class='empty boolean'></th>

      <%= render 'shared/table_headers',
                 :attributes     => attributes,
                 :column_types   => column_types,
                 :column_headers => column_headers,
                 :html_table_id  => html_table_id %>

    </tr>
  </thead>

  <tbody>
    <% selected_models.each do |mod| %>
      <tr class="field">
        <td class="boolean">
          <%= check_box_tag array_name+'[]', mod.id, true,
                            :id => id_prefix+"_#{mod.id}" %>
        </td>

        <%= render 'shared/attributes_in_selection_form',
                   :model        => mod,
                   :attributes   => attributes,
                   :column_types => column_types,
                   :id_prefix    => id_prefix %>

      </tr>
    <% end unless selected_models.nil? %>

    <% unselected_models.each do |mod| %>
      <tr class="field">
        <td class="boolean">
          <%= check_box_tag array_name+'[]', mod.id, false,
                            :id => id_prefix+"_#{mod.id}" %>
        </td>

        <%= render 'shared/attributes_in_selection_form',
                   :model        => mod,
                   :attributes   => attributes,
                   :column_types => column_types,
                   :id_prefix    => id_prefix %>

      </tr>
    <% end unless unselected_models.nil? %>
  </tbody>
<% end %>
