= t('actions.download_resources:', :resources => t('events.index.terms.filtered_events'))
= form_tag({ :format => :ms_excel_2003_xml_zip },
             :method => :get,
             :id     => 'download_events_in_ms_excel_2003_xml_zip',
             :style  => 'display:inline' ) do
  = hidden_field_tags_from_nested_hash params.slice(:filter, :sort, :per_page)
  %span.actions
    = button_tag 'MS Excel 2003 XML',
                 :name  => 'button',
                 :type  => 'submit',
                 :value => 'download'
= form_tag({ :format => :csv_zip },
             :method => :get,
             :id     => 'download_events_in_csv_zip',
             :style  => 'display:inline' ) do
  = hidden_field_tags_from_nested_hash params.slice(:filter, :sort, :per_page)
  %span.actions
    = button_tag 'CSV',
                 :name  => 'button',
                 :type  => 'submit',
                 :value => 'download'
