= form_for @event, :as => :event, :url => events_path,
                   :html => { :id => 'form' } do |f|

  = render 'shared/error_messages/validation', :target => @event

  %dl.form_fields
    .dl_item.field
      %dt
        = t 'formats.attribute_name:',
            :attribute => Event.human_attribute_name(:weekly_event)
      %dd{ :class => 'input' }
        = f.select_for_belongs_to :weekly_event,
                                  @weekly_events, :virtual_long_title,
                                  :include_blank => true
        %span.actions
          = button_tag t('.select_button'),
                       :name       => 'button',
                       :value      => 'select_weekly_event',
                       :type       => 'submit',
                       :form       => 'form',
                       :formaction => url_for(:action => :new),
                       :formmethod => 'get',
                       :class      => 'prefill'

    .dl_item.field
      %dt
        = t 'formats.attribute_name:',
            :attribute => Event.human_attribute_name(:lesson_supervision)
      %dd{ :class => 'input' }
        = f.select_for_belongs_to :lesson_supervision,
                                  LessonSupervision, :unique_names,
                                  :include_blank => true

    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]

  .actions
    = f.submit
