= form_for @event, :as => :event, :url => events_path,
                   :html => { :id => 'form' } do |f|

  = render 'shared/error_messages/validation', :target => @event

  %dl.form_fields

    -# = render 'shared/forms/belongs_to_association',
    -#          :form_builder => f,
    -#          :association  => :weekly_event,
    -#          :association_name_attribute => :virtual_long_title,
    -#          :collection   => @weekly_events

    .item.field
      %dt
        = f.label :weekly_event_id,
                  t('formats.attribute_name:',
                    :attribute => Event.human_attribute_name(:weekly_event))
      %dd.list
        = f.collection_select :weekly_event_id, @weekly_events,
                              :id, :virtual_long_title,
                              :include_blank => true
        %span.actions
          = button_tag t('.select_button'),
                       :name       => 'button',
                       :value      => 'select_weekly_event',
                       :type       => 'submit',
                       :form       => 'form',
                       :formaction => url_for(:action => :new),
                       :formmethod => 'get',
                       :class      => 'prefill'

    = render 'shared/forms/belongs_to_association',
             :form_builder => f,
             :association  => :lesson_supervision,
             :association_name_attribute => :unique_names

    - @attribute_names.each do |attr_name|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attr_name

  .actions
    = f.submit
