<h1><%= t '.header', :title => @event.title %></h1>

<%= render 'form' %>

<footer>
  <%= link_to show_pictogram(3) + ' ' + t('events.show.header',
                                          :title => @event.title),
              event_path(@event),
              :class => 'display resource' %>
  <%= link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
              events_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('events.index.title'),
                  events_path,
                  :class => 'display resource' %></li>
<% end %>
