%h1= t '.header', :title => @event.title
%section
  %dl.show
    - @singular_associations.each do |assoc|
      - if associated_model = @event.public_send(assoc)

        = render 'shared/lists/singular_association_in_show',
          :model                      => @event,
          :association_attribute      => assoc,
          :associated_model           => associated_model,
          :association_name_attribute => @association_name_attributes[assoc]

    - @attributes.each do |attr|

      = render 'shared/lists/attribute_in_show',
        :model       => @event,
        :attribute   => attr,
        :column_type => @column_types[attr]

%section
  %h2= Event.human_attribute_name(:member_participants)

  - unless @member_participants.empty?
    = render('shared/tables/simple_index',
             :models                    => @member_participants,
             :attributes                => @member_participants_attributes,
             :column_types              => @member_participants_column_types,
             :column_headers            => @member_participants_column_headers,
             :html_table_id             => :member_participants)

%section
  %h2= Event.human_attribute_name(:non_member_participants)

  - unless @other_participants.empty?
    = render('shared/tables/simple_index',
             :models                    => @other_participants,
             :attributes                => @other_participants_attributes,
             :column_types              => @other_participants_column_types,
             :column_headers            => @other_participants_column_headers,
             :html_table_id             => :other_participants)

%footer
  = link_to edit_pictogram(3) + ' ' + t('events.edit.header',
                                        :title => @event.title),
            edit_event_path(@event),
            :class => 'modify resource'
  -#
  = link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
            events_path,
            :class => 'display resource'
  - content_for :side_menu_list_items do
    %li
      = link_to list_all_pictogram + ' ' + t('events.index.title'),
                events_path,
                :class => 'display resource'
    %li
      = link_to add_pictogram + ' ' + t('events.new.title'),
                new_event_path,
                :title => t('actions.create'),
                :class => 'add resource'
