%h1= t '.header', :title => @event.title
%section

  = render 'shared/lists/description',
    :model                       => @event,
    :attributes                  => @attributes,
    :singular_associations       => @singular_associations,
    :association_name_attributes => @association_name_attributes

%section
  %h2= Event.human_attribute_name(:member_participants)

  - unless @member_participants.empty?
    = render 'shared/tables/simple_index',
             :models                    => @member_participants,
             :attributes                => @member_participants_attributes,
             :html_table_id             => :member_participants

%section
  %h2= Event.human_attribute_name(:non_member_participants)

  - unless @other_participants.empty?
    = render 'shared/tables/simple_index',
             :models                    => @other_participants,
             :attributes                => @other_participants_attributes,
             :html_table_id             => :other_participants

%footer
  = link_to edit_pictogram(3) + ' ' + t('events.edit.header',
                                        :title => @event.title),
            edit_event_path(@event),
            :class => 'modify resource'
  -#
  = link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
            events_path,
            :class => 'display resource'
  - content_for :side_menu_list_items do
    %li
      = link_to list_all_pictogram + ' ' + t('events.index.title'),
                events_path,
                :class => 'display resource'
    %li
      = link_to add_pictogram + ' ' + t('events.new.title'),
                new_event_path,
                :title => t('actions.create'),
                :class => 'add resource'
