%h1= t '.header', :title => @event.title
%section

  = render 'shared/lists/description',
    :object                      => @event,
    :attributes                  => @attribute_names,
    :singular_associations       => @singular_association_names,
    :association_name_attributes => @association_name_attributes

%section
  %h2= Event.human_attribute_name(:member_participants)

  - unless @member_participants.empty?
    = render 'shared/tables/simple_index',
             :collection    => @member_participants,
             :attributes    => @member_participant_attribute_names,
             :html_table_id => :member_participants

%section
  %h2= Event.human_attribute_name(:non_member_participants)

  - unless @other_participants.empty?
    = render 'shared/tables/simple_index',
             :collection    => @other_participants,
             :attributes    => @other_participant_attribute_names,
             :html_table_id => :other_participants

%footer
  = link_to edit_pictogram(3) + ' ' + t('events.edit.header',
                                        :title => @event.title),
            edit_event_path(@event),
            :class => 'modify resource'
  -#
  = link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
            events_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('events.index.title'),
              events_path,
              :class => 'display resource'
  %li
    = link_to add_pictogram + ' ' + t('events.new.title'),
              new_event_path,
              :title => t('actions.create'),
              :class => 'add resource'
