<h1><%= t '.header', :title => @event.title %></h1>

<dl class="show">

  <% @attributes.each do |attr| %>
    <%= render 'shared/lists/attribute_in_show',
               :model       => @event,
               :attribute   => attr,
               :column_type => @column_types[attr] %>
  <% end %>

</dl>

<footer>
  <%= link_to edit_pictogram(3) + ' ' + t('events.edit.header',
                                      :title => @event.title),
              edit_event_path(@event),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
              events_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('events.index.title'),
                  events_path,
                  :class => 'display resource' %></li>
  <li><%= link_to add_pictogram + ' ' + t('events.new.title'),
                  new_event_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
