<%= form_tag "/admin/safe_user_ips", :method=> :put do |f| %>
  <%= field_set_tag do %>
    <table class="grid form_fields">
      <colgroup><col /></colgroup>
      <colgroup><% @known_ips.size.times do %><col /><% end %></colgroup>
      <thead>
        <tr>
          <th></th>
          <% @known_ips.each do |known_ip| %>
            <% note = known_ip.description.blank? ? "" : " (#{known_ip.description})" %>
            <th><%= "#{known_ip.ip}#{note}" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <th scope=row><%= user.username %></th>
          <% @known_ips.each do |known_ip| %>
            <td class='boolean'>
              <%= check_box_tag "safe_ip_ids_for_users[#{user.id}][]", known_ip.id, user.safe_ips.include?(known_ip) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="actions">
    <%= submit_tag t('buttons.save') %>
  </div>
<% end %>
