<% content_for :side_menu_list_items do %>
  <li>
    <%= link_to t('admin.safe_user_i_ps.links.update_all'), edit_all_admin_safe_user_ips_path,
                :title  => t('actions.update'),
                :class => 'modify' %>
  </li>
<% end %>

<h1><%= t '.header' %></h1>

<table class="grid" style="width:auto;">
  <col />
  <% @known_ips.size.times do %>
    <col />
  <% end %>    
  <tr>
    <th></th>
    <% @known_ips.each do |known_ip| %>
      <% note = known_ip.description.blank? ? "" : " (#{known_ip.description})" %>
      <th style='text-align:center;'><%= link_to "#{known_ip.ip}#{note}", known_ip, :title => t('actions.read') %></th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user, :title => t('actions.read') %></td>
      <% @known_ips.each do |known_ip| %>
        <td style='text-align:center;'>
          <%= user.safe_ips.include?(known_ip) ? yes_icon : t(:no) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<footer>
  <%= link_to edit_icon(2)+' '+t('admin.safe_user_i_ps.links.update_all'), edit_all_admin_safe_user_ips_path,
              :title  => t('actions.update'),
              :class => 'modify' %>
</footer>