= form_for @lesson_supervision, :as  => :lesson_supervision,
                                :url => @lesson_supervision_form_url do |f|

  = render 'shared/error_messages/validation', :target => @lesson_supervision

  %dl.form_fields
    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

    = render 'shared/forms/habtm_association',
             :form_builder               => f,
             :association                => :instructors,
             :association_name_attribute => :virtual_professional_name

  .actions
    = f.submit
