= form_for @lesson_supervision, :as  => :lesson_supervision,
                                :url => @lesson_supervision_form_url do |f|

  = render 'shared/error_messages/validation', :target => @lesson_supervision

  %dl.form_fields
    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]

    .dl_item.field
      %dt
        = t 'formats.attribute_name:',
            :attribute => LessonSupervision.human_attribute_name(:instructors)
      %dd{ :class => 'input select_multiple' }
        = f.select_for_habtm :instructors, :virtual_professional_name, nil,
                             :include_blank => true

  .actions
    = f.submit
