%hgroup
  %h1= t '.header'
  %h2#lesson_supervisions_count
    - if @filtering_values.blank?
      = t '.count_total', :count => TicketBook.count
    - else
      = t '.count_filtered', :count => @filtered_lesson_supervisions_count,
                             :total => TicketBook.count
#lesson_supervisions_table

  = render 'shared/tables/filtered_index',
           :collection       => @lesson_supervisions,
           :attributes       => @attribute_names,
           :html_table_id    => :lesson_supervisions,
           :filtering_values => @filtering_values

%footer
  = link_to add_pictogram(2) + ' ' + t('lesson_supervisions.new.header'),
            new_lesson_supervision_path,
            :title => t('actions.create'),
            :class => 'add resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to add_pictogram + ' ' + t('lesson_supervisions.new.title'),
              new_lesson_supervision_path,
              :title => t('actions.create'),
              :class => 'add resource'
