%h1= t '.header', :title => @lesson_supervision.unique_names
%section
  %dl.show

    = render 'shared/lists/description',
      :model                       => @lesson_supervision,
      :attributes                  => @attributes

%section
  %h2= LessonSupervision.human_attribute_name(:instructors)

  - unless @instructors.empty?
    = render 'shared/tables/simple_index',
             :models                    => @instructors,
             :attributes                => @instructors_attributes,
             :column_headers            => @instructors_column_headers,
             :html_table_id             => :instructors

%footer
  = link_to edit_pictogram(3) + ' ' + t('lesson_supervisions.edit.header',
                                        :title => @lesson_supervision.unique_names),
            edit_lesson_supervision_path(@lesson_supervision),
            :class => 'modify resource'
  = link_to list_all_pictogram(3) + ' ' + t('lesson_supervisions.index.header'),
            lesson_supervisions_path,
            :class => 'display resource'
  - content_for :side_menu_list_items do
    %li
      = link_to list_all_pictogram + ' ' + t('lesson_supervisions.index.title'),
                lesson_supervisions_path,
                :class => 'display resource'
    %li
      = link_to add_pictogram + ' ' + t('lesson_supervisions.new.title'),
                new_lesson_supervision_path,
                :title => t('actions.create'),
                :class => 'add resource'
