= form_for @weekly_event, :as  => :weekly_event,
                          :url => @weekly_event_form_url do |f|

  = render 'shared/error_messages/validation', :target => @weekly_event

  %dl.form_fields

    = render 'shared/forms/belongs_to_association',
             :form_builder => f,
             :association  => :lesson_supervision,
             :association_name_attribute => :unique_names

    - @attribute_names.each do |attr_name|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attr_name

  .actions
    = f.submit
