= form_for @weekly_event, :as  => :weekly_event,
                          :url => @weekly_event_form_url do |f|

  = render 'shared/error_messages/validation', :target => @weekly_event

  %dl.form_fields
    .dl_item.field
      %dt
        = t 'formats.attribute_name:',
            :attribute => WeeklyEvent.human_attribute_name(:lesson_supervision)
      %dd{ :class => 'input' }
        = f.select_for_belongs_to :lesson_supervision,
                                  LessonSupervision, :unique_names,
                                  :include_blank => true

    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]

  .actions
    = f.submit
