= form_for @ticket_book, :as  => :ticket_book,
                         :url => @ticket_book_form_url do |f|

  = render 'shared/error_messages/validation', :target => @ticket_book

  %dl.form_fields

    = render 'shared/forms/belongs_to_association',
             :form_builder => f,
             :association  => :membership_type,
             :association_name_attribute => :unique_title

    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

  .actions
    = f.submit
