%h1= t '.header', :title => @ticket_book.virtual_long_title
%section
  %dl.show

    = render 'shared/lists/description',
      :object     => @ticket_book,
      :attributes => @attribute_names

%footer
  = link_to edit_pictogram(3) + ' ' + t('ticket_books.edit.header',
                                        :title => @ticket_book.virtual_long_title),
            edit_membership_ticket_book_path(@ticket_book.membership, @ticket_book),
            :class => 'modify resource'
  = link_to show_pictogram(3) + ' ' + t('memberships.show.header', :title => @membership.virtual_title),
            membership_path(@membership),
            :class => 'display resource'
  = link_to list_all_pictogram(3) + ' ' + t('ticket_books.index.header'),
            ticket_books_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('ticket_books.index.title'),
              ticket_books_path,
              :class => 'display resource'
  %li
    = link_to add_pictogram + ' ' + t('ticket_books.new.title'),
              new_membership_ticket_book_path(@ticket_book.membership),
              :title => t('actions.create'),
              :class => 'add resource'
