%h1= t '.header'

%section

  %h2= t 'headers.data'

  = render 'shared/sections/data_section_in_overview',
           :models                => @weekly_events,
           :name_method           => :title,
           :i18n_controller_scope => 'weekly_events',
           :index_path            => weekly_events_path,
           :new_path              => new_weekly_event_path,
           :show_path_method      => method(:weekly_event_path)

  = render 'shared/sections/data_section_in_overview',
           :models                => @ticket_books,
           :name_method           => :virtual_long_title,
           :i18n_controller_scope => 'ticket_books',
           :index_path            => ticket_books_path,
           :new_path              => new_ticket_book_path,
           :show_path_method      => method(:ticket_book_path)

  = render 'shared/sections/data_section_in_overview',
           :models                => @memberships,
           :name_method           => :virtual_title,
           :i18n_controller_scope => 'memberships',
           :index_path            => memberships_path,
           :new_path              => new_membership_path,
           :show_path_method      => method(:membership_path)

  = render 'shared/sections/data_section_in_overview',
           :models                => @membership_types,
           :name_method           => :unique_title,
           :i18n_controller_scope => 'membership_types',
           :index_path            => membership_types_path,
           :new_path              => new_membership_type_path,
           :show_path_method      => method(:membership_type_path)

  = render 'shared/sections/data_section_in_overview',
           :models                => @activity_periods,
           :name_method           => :unique_title,
           :i18n_controller_scope => 'activity_periods',
           :index_path            => activity_periods_path,
           :new_path              => new_activity_period_path,
           :show_path_method      => method(:activity_period_path)

  = render 'shared/sections/data_section_in_overview',
           :models                => @instructors,
           :name_method           => :full_name,
           :i18n_controller_scope => 'instructors',
           :index_path            => instructors_path,
           :new_path              => new_instructor_path,
           :show_path_method      => method(:instructor_path)

%section

  %h2= t 'headers.tools'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('events.index.title'),
              events_path,
              :class => 'display resource'
  %li
    = link_to list_all_pictogram + ' ' + t('weekly_events.index.title'),
              weekly_events_path,
              :class => 'display resource'
  %li
    = link_to list_all_pictogram + ' ' + t('ticket_books.index.title'),
              ticket_books_path,
              :class => 'display resource'
  %li
    = link_to list_all_pictogram + ' ' + t('membership_types.index.title'),
              membership_types_path,
              :class => 'display resource'
  %li
    = link_to list_all_pictogram + ' ' + t('activity_periods.index.title'),
              activity_periods_path,
              :class => 'display resource'
  %li
    = link_to list_all_pictogram + ' ' + t('instructors.index.title'),
              instructors_path,
              :class => 'display resource'
