  <div class="field">
    <%= f.label :username, t('field_labels.username') %>
    <%= f.text_field :username, :disabled => !@user.new_record? %>*
  </div>
  <div class="field">
    <%= f.label :full_name, t('field_labels.full_name') %>
    <%= f.text_field :full_name %>*
  </div>
  <div class="field">
    <%= f.label :email, t('field_labels.email') %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :admin, t('field_labels.admin?') %>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :manager, t('field_labels.manager?') %>
    <%= f.check_box :manager %>
  </div>
  <div class="field">
    <%= f.label :secretary, t('field_labels.secretary?') %>
    <%= f.check_box :secretary %>
  </div>
  <div class="field">
    <%= f.label :a_person, t('field_labels.person?') %>
    <%= f.check_box :a_person %>
  </div>
