  <%= field_set_tag t('admin.users.edit.captions.user_data') do %>
    <dl class="form_fields">
      <% if @user.new_record? %>
        <div class="field">
          <dt><%= f.label :username, t('field_labels.username') %></dt>
          <dd><%= f.text_field :username, :size => 30, :maxlength => 32, :required => :required %>*</dd>
        </div>
      <% else %>
        <div class="field">
          <dt><b><%= t 'field_labels.username' %></b></dt>
          <dd><%= @user.username %></dd>
        </div>
      <% end %>
      <div class="field">
        <dt><%= f.label :full_name, t('field_labels.full_name') %></dt>
        <dd><%= f.text_field :full_name, :size => 30, :maxlength => 64, :required => :required %>*</dd>
      </div>
      <div class="field">
        <dt><%= f.label :account_deactivated, t('field_labels.deactivated?') %></dt>
        <dd><%= f.check_box :account_deactivated, :disabled => (@user == current_user) %></dd>
      </div>
      <div class="field">
        <dt><%= f.label :admin, t('field_labels.admin?') %></dt>
        <dd><%= f.check_box :admin, :disabled => (@user == current_user) %></dd>
      </div>
      <div class="field">
        <dt><%= f.label :manager, t('field_labels.manager?') %></dt>
        <dd><%= f.check_box :manager %></dd>
      </div>
      <div class="field">
        <dt><%= f.label :secretary, t('field_labels.secretary?') %></dt>
        <dd><%= f.check_box :secretary %></dd>
      </div>
      <div class="field">
        <dt><%= f.label :email, t('field_labels.email') %></dt>
        <dd><%= f.email_field :email, :size => 30, :maxlength => 255 %></dd>
      </div>
      <div class="field">
        <dt><%= f.label :a_person, t('field_labels.person?') %></dt>
        <dd><%= f.check_box :a_person %></dd>
      </div>
    </dl>
  <% end %>
