= field_set_tag t('admin.users.edit.subheaders.user_data') do
  %dl.form_fields
    - [ :username, :full_name ].each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

    = render 'shared/forms/attribute',
             :form_builder       => f,
             :attribute          => :email,
             :input_html_options => { :type => :email }

    - is_current_user = (@user == current_user)

    - [ :account_deactivated, :admin ].each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder       => f,
               :attribute          => attribute,
               :input_html_options => { :disabled => is_current_user }

    - [ :manager, :secretary, :a_person ].each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

= field_set_tag t('admin.users.edit.subheaders.authorized_ips') do

  = render 'shared/forms/selection_index',
           :attributes        => @known_ips_attributes,
           :column_headers    => @known_ips_column_headers,
           :html_table_id     => :known_ips,
           :models            => @known_ips,
           :selected_models   => @safe_ips,
           :id_prefix         => 'user_safe_ip_ids',
           :array_name        => 'user[safe_ip_ids]'

= field_set_tag t('admin.users.edit.subheaders.comments') do
  %dl.form_fields

    = render 'shared/forms/attribute',
             :form_builder       => f,
             :attribute          => :comments,
             :input_html_options => { :maxlength => 1000 }
