<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'common_form_fields', :f => f %>

  <fieldset>
    <legend><%= t 'admin.users.edit.captions.change_password' %></legend>
    <table class="fields">
      <tr class="field">
        <td><%= f.label :new_password, t('admin.users.labels.new_password') %></td>
        <td><%= f.password_field :new_password %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :new_password_confirmation,
                        t('admin.users.labels.new_password_confirmation') %></td>
        <td><%= f.password_field :new_password_confirmation %></td>
      </tr>
      <tr class="field">
        <td><%= label_tag :current_user_password, t('admin.users.labels.your_password') %></td>
        <td><%= password_field_tag :current_user_password, nil, :size => 30 %></td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend><%= t 'admin.users.edit.captions.authorized_ips' %></legend>
    <table class="fields">
      <tr>
        <th>
          <%= t 'field_labels.ip' %>
        </th>
        <th>
          <%= t 'field_labels.description' %>
        </th>
        <th style='text-align:center;'>
          <%= t 'field_labels.authorized?' %>
        </th>
      </tr>
      <% @safe_ips.each do |known_ip| %>
      <tr class="field">
        <td>
          <%= label_tag "admin_user[known_ip_is_safe][#{known_ip.id}]", known_ip.ip %>
        </td>
        <td>
          <%= known_ip.description %>
        </td>
        <td style='text-align:center;'>
          <%= check_box_tag "admin_user[known_ip_is_safe][#{known_ip.id}]", "1", true %>
        </td>
      </tr>
      <% end %>
      <% @other_ips.each do |known_ip| %>
      <tr class="field">
        <td>
          <%= label_tag "admin_user[known_ip_is_safe][#{known_ip.id}]", known_ip.ip %>
        </td>
        <td>
          <%= known_ip.description %>
        </td>
        <td style='text-align:center;'>
          <%= check_box_tag "admin_user[known_ip_is_safe][#{known_ip.id}]", "0", false %>
        </td>
      </tr>
      <% end %>
    </table>  
  </fieldset>

  <fieldset>
    <legend><%= t 'admin.users.edit.captions.other' %></legend>
    <div class="field">
      <%= f.label :comments, t('admin.users.labels.comments'), :style => "vertical-align:top;" %>
      <%= f.text_area :comments %>
    </div>
  </fieldset>
  
  <div class="actions" style="text-align:center;">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
