<%= form_for(@user) do |f| %>

  <%= render 'validation_error_messages' %>

  <%= render 'common_form_fields', :f => f %>

  <% if @user == current_user %>
    <%= field_set_tag t('admin.users.edit.subheaders.new_password') do %>
      <%= label_tag :change_password, t('field_labels.change_password?') %>
      <%= check_box_tag :change_password %>
      <dl class="checkbox_conditional form_fields">

        <%= render 'shared/attribute_in_form',
                   :form_builder       => f,
                   :model              => @user,
                   :attribute          => :new_password,
                   :input_html_options => { :type => :password } %>

        <%= render 'shared/attribute_in_form',
                   :form_builder       => f,
                   :model              => @user,
                   :attribute          => :new_password_confirmation,
                   :input_html_options => { :type => :password } %>

        <%= render 'shared/input_in_form',
                   :name               => :current_password,
                   :value              => nil,
                   :label_content      => t('field_labels.current_password'),
                   :input_html_options => { :type      => :password,
                                            :size      => 30,
                                            :maxlength => 255 } %>

      </dl>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
