<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'common_form_fields', :f => f %>

  <%= field_set_tag t('admin.users.edit.captions.authorized_ips') do %>
    <table class="form_fields">
      <thead>
        <tr>
          <th>
            <%= t 'field_labels.ip' %>
          </th>
          <th>
            <%= t 'field_labels.description' %>
          </th>
          <th style='text-align:center;'>
            <%= t 'field_labels.authorized?(ip)' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @safe_ips.each do |known_ip| %>
        <tr class="field">
          <td>
            <%= label_tag "admin_user_safe_ip_ids_#{known_ip.id}", known_ip.ip %>
          </td>
          <td>
            <%= known_ip.description %>
          </td>
          <td style='text-align:center;'>
            <%= check_box_tag "admin_user[safe_ip_ids][]", known_ip.id, true, :id => "admin_user_safe_ip_ids_#{known_ip.id}" %>
          </td>
        </tr>
        <% end %>
        <% @other_ips.each do |known_ip| %>
        <tr class="field">
          <td>
            <%= label_tag "admin_user_safe_ip_ids_#{known_ip.id}", known_ip.ip %>
          </td>
          <td>
            <%= known_ip.description %>
          </td>
          <td style='text-align:center;'>
            <%= check_box_tag "admin_user[safe_ip_ids][]", known_ip.id, false, :id => "admin_user_safe_ip_ids_#{known_ip.id}" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>  
  <% end %>

  <% if @user == current_user %>
    <%= field_set_tag t('admin.users.edit.captions.new_password') do %>
      <%= label_tag :change_password, t('field_labels.change_password?') %>
      <%= check_box_tag :change_password %>
      <dl class="checkbox_conditional form_fields">
        <div class="field">
          <dt><%= f.label :new_password, t('field_labels.new_password') %></dt>
          <dd><%= f.password_field :new_password, :size => 30, :maxlength => 255 %></dd>
        </div>
        <div class="field">
          <dt><%= f.label :new_password_confirmation,
                          t('field_labels.new_password_confirmation') %></dt>
          <dd><%= f.password_field :new_password_confirmation, :size => 30, :maxlength => 255 %></dd>
        </div>
        <div class="field">
          <dt><%= label_tag :current_password, t('field_labels.current_password') %></dt>
          <dd><%= password_field_tag :current_password, nil, :size => 30, :maxlength => 255 %></dd>
        </div>
      </dl>
    <% end %>
  <% end %>

  <%= render 'comments_field', :f => f %>

  <div class="actions" style="text-align:center;">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
