<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'common_form_fields', :f => f %>

  <% if @user == current_user %>
    <%= field_set_tag t('admin.users.edit.headers.new_password') do %>
      <%= label_tag :change_password, t('field_labels.change_password?') %>
      <%= check_box_tag :change_password %>
      <dl class="checkbox_conditional form_fields">
        <div class="field">
          <dt><%= f.label :new_password, t('formats.attribute_name:', :attribute => Admin::User.human_attribute_name(:new_password)) %></dt>
          <dd><%= f.password_field :new_password, :size => 30, :maxlength => 255 %></dd>
        </div>
        <div class="field">
          <dt><%= f.label :new_password_confirmation,
                          t('formats.attribute_name:', :attribute => Admin::User.human_attribute_name(:new_password_confirmation)) %></dt>
          <dd><%= f.password_field :new_password_confirmation, :size => 30, :maxlength => 255 %></dd>
        </div>
        <div class="field">
          <dt><%= label_tag :current_password, t('field_labels.current_password') %></dt>
          <dd><%= password_field_tag :current_password, nil, :size => 30, :maxlength => 255 %></dd>
        </div>
      </dl>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
