-# TODO:report a bug: test environment requires ":url => " here
= form_for @user, :as => :user, :url => user_path(@user) do |f|

  = render 'shared/error_messages/validation', :target => @user

  = render 'common_form_fields', :f => f

  - if @user == current_user
    = field_set_tag t('admin.users.edit.subheaders.new_password') do
      = label_tag :change_password, t('field_labels.change_password?')
      = check_box_tag :change_password
      %dl.checkbox_conditional.form_fields

        = render 'shared/forms/input',
                   :name               => :current_password,
                   :value              => nil,
                   :label_content      => t('field_labels.current_password'),
                   :input_html_options => { :type      => :password,
                                            :size      => 30,
                                            :maxlength => 255 }

        = render 'shared/forms/attribute',
                   :form_builder       => f,
                   :attribute          => :new_password,
                   :column_type        => @column_types[:new_password],
                   :input_html_options => { :type => :password }

        = render 'shared/forms/attribute',
                   :form_builder       => f,
                   :attribute          => :new_password_confirmation,
                   :column_type        => @column_types[:new_password_confirmation],
                   :input_html_options => { :type => :password }

  .actions
    = f.submit
