<%= form_tag admin_users_path, :method => :get do %>
  <%= content_tag :table, :id => :users, :class => (@filter.blank? ? "records" : "filtered records") do %>
    <colgroup class="attributes">
      <% @displayed_columns.size.times do %>
        <col />
      <% end %>
    </colgroup>
    <colgroup><col /><col /></colgroup>
    <thead>
      <tr>
        <% @displayed_columns.each do |attribute| %>
          <%- if Admin::User.columns_hash[attribute.to_s].type == :boolean -%>
            <th class="boolean">
              <%= sortable :users, attribute, Admin::User.human_attribute_name(attribute) %>
            </th>
          <%- else -%>
            <th>
              <%= sortable :users, attribute, Admin::User.human_attribute_name(attribute) %>
            </th>
          <%- end -%>
        <% end %>
        <th class="empty"></th>
        <th class="empty"></th>
      </tr>
      <% unless @filter.blank? %>
        <tr class="filter_values">
          <% @displayed_columns.each do |attribute| %>
            <% unless @filter[attribute].nil? %>
              <%- case Admin::User.columns_hash[attribute.to_s].type -%>
              <%- when :string -%>
                <td class="value">
                  <%= @filter[attribute] %>
                </td>
              <%- when :boolean -%>
                <td class="boolean value">
                  <%= boolean_to_yes_no(@filter[attribute]) %>
                </td>
              <% end %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td class="empty"></td>
          <td class="empty"></td>
        </tr>
      <% end %>
      <tr class="form_fields">
        <% @displayed_columns.each do |attribute| %>
          <td class="field">
            <%- case Admin::User.columns_hash[attribute.to_s].type -%>
            <%- when :string -%>
              <%= text_field_tag 'filter_'+attribute.to_s, @filter[attribute] %>
            <%- when :boolean -%>
              <%= radio_button_tag 'filter_'+attribute.to_s, 'yes', @filter[attribute] %>
              <%= label_tag 'filter_'+attribute.to_s+'_yes', t('yes') %>
              <br />
              <%= radio_button_tag 'filter_'+attribute.to_s, 'no', @filter[attribute] == false %>
              <%= label_tag 'filter_'+attribute.to_s+'_no', t('no') %>
              <br />
              <%= radio_button_tag 'filter_'+attribute.to_s, 'all', @filter[attribute].nil? %>
              <%= label_tag 'filter_'+attribute.to_s+'_all', t('all') %>
            <%- end -%>
          </td>
        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
      <tr class="form_actions">
        <%= content_tag :td, :colspan => @displayed_columns.size, :class => 'actions' do %>
          <%= submit_tag t('buttons.filter') %>
        <% end %>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>
    </thead>
    
    <tfoot>
    </tfoot>
    
    <tbody>
      <%= render :partial => 'user_in_index', :collection => @users, :as => :user %>
    </tbody>
  <% end %>
<% end %>