<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'common_form_fields', :f => f %>

  <%= field_set_tag t('admin.users.new.captions.password') do %>
    <table class="fields">
      <tr class="field">
        <td><%= f.label :password, t('field_labels.password') %></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :password_confirmation,
                        t('field_labels.password_confirmation') %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
  <% end %>

  <%= field_set_tag t('admin.users.new.captions.authorized_ips') do %>
    <table class="fields">
      <tr>
        <th>
          <%= t 'field_labels.ip' %>
        </th>
        <th>
          <%= t 'field_labels.description' %>
        </th>
        <th style='text-align:center;'>
          <%= t 'field_labels.authorized?(ip)' %>
        </th>
      </tr>
      <% @known_ips.each do |known_ip| %>
      <tr>
        <td>
          <%= label_tag "admin_user_safe_ip_ids_#{known_ip.id}", known_ip.ip %>
        </td>
        <td>
          <%= known_ip.description %>
        </td>
        <td style='text-align:center;'>
          <%= check_box_tag "admin_user[safe_ip_ids][]", known_ip.id, false, :id => "admin_user_safe_ip_ids_#{known_ip.id}" %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <%= field_set_tag t('admin.users.new.captions.other') do %>
    <div class="field">
      <%= f.label :comments, t('field_labels.comments'), :style => "vertical-align:top;" %>
      <%= f.text_area :comments %>
    </div>
  <% end %>

  <div class="actions" style="text-align:center;">
    <%= f.submit t('buttons.save') %>
  </div>
<% end %>
