<%= form_for @user, :as => :user do |f| %>

  <%= render 'shared/error_messages/validation', :target => @user %>

  <%= render 'common_form_fields', :f => f %>

  <%= field_set_tag t('admin.users.new.subheaders.password') do %>
    <dl class="form_fields">

      <%= render 'shared/forms/attribute',
                 :form_builder       => f,
                 :attribute          => :password,
                 :column_type        => @column_types[:password],
                 :input_html_options => { :type => :password } %>

      <%= render 'shared/forms/attribute',
                 :form_builder       => f,
                 :attribute          => :password_confirmation,
                 :column_type        => @column_types[:password_confirmation],
                 :input_html_options => { :type => :password } %>

    </dl>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
