<h1><%= t '.header' %></h1>

<p>
  <% if @filter.blank? %>
    <%= t '.count_total', :count => Admin::User.count %>
  <% else %>
    <%= t '.count_filtered', :count => @all_filtered_users.size, :total => Admin::User.count %>
  <% end %>
</p>

<%= paginate @users %>

<%= render 'index_table' %>

<%= paginate @users %>

<footer>
  <%= link_to add_pictogram+' '+t('admin.users.links.new'),
              new_admin_user_path,
              :title => t('actions.create'),
              :class => 'add' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add' %></li>
<% end %>
