<hgroup>
  <h1><%= t '.header' %></h1>

  <h2 id="users_count">
    <% if @filter.blank? %>
      <%= t '.count_total', :count => Admin::User.count %>
    <% else %>
      <%= t '.count_filtered', :count => @all_filtered_users.size,
                               :total => Admin::User.count %>
    <% end %>
  </h2>
</hgroup>

<div id="users_table">

  <%= render 'shared/filtered_index_table',
             :models       => @users,
             :attributes   => @attributes,
             :column_types => @column_types,
             :klass        => Admin::User,
             :table_name   => :users,
             :filter       => @filter %>

</div>

<%= render('downloads') %>

<div id="users_mailing_list">

  <%= render('emailing_list') %>

</div>

<footer>
  <%= link_to add_pictogram(2)+' '+t('admin.users.links.new'),
              new_admin_user_path,
              :title => t('actions.create'),
              :class => 'add resource' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
