<% content_for :side_menu_list_items do %>
  <li>
    <%= link_to t('admin.users.links.show_all'), admin_users_path,
                :class => 'display' %>
  </li>
  <li>
    <%= link_to t('admin.users.links.new'), new_admin_user_path,
                :title => t('actions.create'),
                :class => 'add' %>
  </li>
<% end %>

<h1><%= t '.header', :username => @user.username %></h1>

<section>

  <h2><%= t 'admin.users.show.captions.user_data', :username => @user.username %></h2>

  <dl class="show">
    <div>
      <dt><%= t 'field_labels.username' %></dt>
      <dd><b><%= @user.username %></b></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.full_name' %></dt>
      <dd><%= @user.full_name %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.deactivated?' %></dt>
      <dd><%= @user.account_deactivated? ? t(:yes) : t(:no) %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.admin?' %></dt>
      <dd><%= @user.admin? ? t(:yes) : t(:no) %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.manager?' %></dt>
      <dd><%= @user.manager? ? t(:yes) : t(:no) %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.secretary?' %></dt>
      <dd><%= @user.secretary? ? t(:yes) : t(:no) %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.email' %></dt>
      <dd><%= @user.email %></dd>
    </div>

    <div>
      <dt><%= t 'field_labels.person?' %></dt>
      <dd><%= @user.a_person? ? t(:yes) : t(:no) %></dd>
    </div>

    <% if @user.a_person? %>
      <div>
        <dt><%= t 'field_labels.person_id' %></dt>
        <dd><%= @user.person_id %></dd>
      </div>
    <% end %>

    <div>
      <dt><%= t('field_labels.comments') %></dt>
      <dd><%= @user.comments %></dd>
    </div>
  </dl>

</section>

<section>

  <h2><%= t 'admin.users.show.captions.authorized_ips' %></h2>

  <dl class="show association_list">
    <% @user.safe_ips.each do |safe_ip| %>
    <div>
      <dt>
        <%= link_to safe_ip.ip, safe_ip,
                    :title => t('actions.read'),
                    :class => 'display' %>
      </dt>
      <dd><%= safe_ip.description %></dd>
    </div>
    <% end %>
  </dl>

</section>

<section>

  <h2><%= t 'admin.users.show.captions.other' %></h2>

  <dl class="show">
    <div>
      <dt><%= t('field_labels.last_signed_in_at') %></dt>
      <dd><%= @user.last_signed_in_at %></dd>
    </div>
  </dl>

</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'), edit_admin_user_path(@user),
              :class => 'modify' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.users.links.show_all'), admin_users_path,
              :class => 'display' %>
</footer>
