<h1><%= t '.header', :username => @user.username %></h1>

<section>
  <h2><%= t 'admin.users.show.subheaders.user_data' %></h2>

  <dl class="show">
    <%= render :partial => 'shared/important_attribute_in_show',
               :collection =>  @key_displayed_columns,
               :as => :attribute,
               :locals => { :model => @user } %>

    <%= render :partial => 'shared/attribute_in_show',
               :collection =>  @main_displayed_columns,
               :as => :attribute,
               :locals => { :model => @user } %>
  </dl>
</section>

<section>
  <h2><%= Admin::User.human_attribute_name(:safe_ips) %></h2>

  <% unless @safe_ips.blank? %>
    <%= render 'admin/known_i_ps/index_table_for_association',
               :known_ips => @safe_ips,
               :displayed_columns => @safe_ips_displayed_columns,
               :table_name => :safe_ips %>
  <% end %>
</section>

<section>
  <h2><%= t 'admin.users.show.subheaders.other' %></h2>

  <% unless @other_displayed_columns.blank? %>
    <dl class="show">
      <%= render :partial => 'shared/attribute_in_show',
                 :collection =>  @other_displayed_columns,
                 :as => :attribute,
                 :locals => { :model => @user } %>
    </dl>
  <% end %>
</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'),
              edit_admin_user_path(@user),
              :class => 'modify' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.users.links.show_all'),
              admin_users_path,
              :class => 'display' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.show_all'),
                  admin_users_path,
                  :class => 'display' %></li>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add' %></li>
<% end %>
