<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.show_all'),
                  admin_users_path,
                  :class => 'display' %></li>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add' %></li>
<% end %>

<h1><%= t '.header', :username => @user.username %></h1>

<section>
  <h2><%= t 'admin.users.show.subheaders.user_data' %></h2>

  <dl class="show">
    <% [ :username ].each do |attribute| %>
      <div>
        <dt><%= t 'formats.attribute_name:', :attribute => Admin::User.human_attribute_name(attribute) %></dt>
        <dd><b><%= @user.public_send(attribute) %></b></dd>
      </div>
    <% end %>

    <% [ :full_name, :email ].each do |attribute| %>
      <div>
        <dt><%= t 'formats.attribute_name:', :attribute => Admin::User.human_attribute_name(attribute) %></dt>
        <dd><%= @user.public_send(attribute) %></dd>
      </div>
    <% end %>

    <% [ :account_deactivated, :admin, :manager, :secretary, :a_person ].each do |attribute| %>
      <div>
        <dt><%= t 'formats.attribute_name?', :attribute => Admin::User.human_attribute_name(attribute) %></dt>
        <dd><%= boolean_to_yes_no(@user.public_send(attribute)) %></dd>
      </div>
    <% end %>

    <% if @user.a_person? %>
      <% [ :person_id ].each do |attribute| %>
        <div>
          <dt><%= t 'formats.attribute_name:', :attribute => Admin::User.human_attribute_name(attribute) %></dt>
          <dd><%= @user.public_send(attribute) %></dd>
        </div>
      <% end %>
    <% end %>

    <div>
      <dt><%= t 'formats.attribute_name:', :attribute => Admin::User.human_attribute_name(:comments) %></dt>
      <dd><%= @user.comments %></dd>
    </div>
  </dl>
</section>

<section>
  <h2><%= Admin::User.human_attribute_name(:safe_ips) %></h2>

  <% unless @safe_ips.blank? %>
    <%= render 'admin/known_i_ps/index_table_for_association',
               :known_ips  => @safe_ips,
               :table_name => :safe_ips %>
  <% end %>
</section>

<section>
  <h2><%= t 'admin.users.show.subheaders.other' %></h2>

  <dl class="show">
    <% unless @user.last_signed_in_at.blank? %>
      <div>
        <dt><%= t 'formats.attribute_name:', :attribute => Admin::User.human_attribute_name(:last_signed_in_at) %></dt>
        <dd><%= l @user.last_signed_in_at, :format => :custom %></dd>
      </div>
    <% end %>
  </dl>
</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'), edit_admin_user_path(@user),
              :class => 'modify' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.users.links.show_all'), admin_users_path,
              :class => 'display' %>
</footer>
