<h1><%= t '.header', :username => @user.username %></h1>

<section>
  <h2><%= t 'admin.users.show.subheaders.user_data' %></h2>

  <dl class="show">
    <%= render :partial => 'shared/important_attribute_in_show',
               :collection =>  @key_attributes,
               :as => :attribute,
               :locals => { :model => @user } %>

    <%= render :partial => 'shared/attribute_in_show',
               :collection =>  @other_main_attributes,
               :as => :attribute,
               :locals => { :model => @user } %>
  </dl>
</section>

<section>
  <h2><%= Admin::User.human_attribute_name(:safe_ips) %></h2>

  <% unless @safe_ips.blank? %>
    <%= render :partial => 'shared/index_table_for_association',
               :object => @safe_ips,
               :as => :models,
               :locals => { :attributes => @safe_ips_attributes,
                            :column_types_o_hash => @safe_ips_column_types_o_hash,
                            :model_class => Admin::KnownIP,
                            :table_name => :safe_ips } %>
  <% end %>
</section>

<section>
  <h2><%= t 'admin.users.show.subheaders.other' %></h2>

  <% unless @other_attributes.blank? %>
    <dl class="show">
      <%= render :partial => 'shared/attribute_in_show',
                 :collection =>  @other_attributes,
                 :as => :attribute,
                 :locals => { :model => @user } %>
    </dl>
  <% end %>
</section>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('.links.update'),
              edit_admin_user_path(@user),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(2)+' '+t('admin.users.links.show_all'),
              admin_users_path,
              :class => 'display resource' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.show_all'),
                  admin_users_path,
                  :class => 'display resource' %></li>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
