<h1><%= t '.header', :username => @user.username %></h1>

<section>
  <h2><%= t 'admin.users.show.subheaders.user_data' %></h2>

  <dl class="show">
    <% @key_attributes.each do |attr| %>
      <%= render 'shared/readonly_attribute_in_show_list',
                 :attribute => attr,
                 :model     => @user %>
    <% end %>

    <% @other_main_attributes.each do |attr| %>
      <%= render 'shared/attribute_in_show_list',
                 :attribute => attr,
                 :model     => @user %>
    <% end %>
  </dl>
</section>

<section>
  <h2><%= Admin::User.human_attribute_name(:safe_ips) %></h2>

  <%= render 'shared/simple_index_table',
             :models         => @safe_ips,
             :attributes     => @safe_ips_attributes,
             :column_types   => @known_ips_column_types,
             :column_headers => @known_ips_column_headers,
             :html_table_id  => :safe_ips %>

</section>

<section>
  <h2><%= t 'admin.users.show.subheaders.other' %></h2>

  <% unless @other_attributes.blank? %>
    <dl class="show">
      <% @other_attributes.each do |attr| %>
        <%= render 'shared/attribute_in_show_list',
                   :attribute => attr,
                   :model     => @user %>
      <% end %>
    </dl>
  <% end %>
</section>

<footer>
  <%= link_to edit_pictogram(3)+' '+t('admin.users.edit.header',
                                      :username => @user.username),
              edit_admin_user_path(@user),
              :class => 'modify resource' %>
  <%= link_to list_all_pictogram(3)+' '+t('admin.users.index.header'),
              admin_users_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram+' '+t('admin.users.index.title'),
                  admin_users_path,
                  :class => 'display resource' %></li>
  <li><%= link_to add_pictogram+' '+t('admin.users.new.title'),
                  new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
