= form_for @guest, :as     => :guest,
                   :url    => url_for(:action => 'new_guest_transaction'),
                   :method => :get do |f|

  = render 'shared/error_messages/validation', :target => @guest

  %dl.form_fields
    - [ :first_name, :last_name, :email, :phone ].each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => :string

    = render 'shared/forms/attribute',
             :form_builder => f,
             :attribute    => :note,
             :column_type  => :text

  .actions
    = f.submit t('buttons.continue')
