%h2= t('register.new_ticket_purchase.title')

= form_for @tickets_purchase, :as  => :tickets_purchase,
                              :url => 'create_ticket_purchase' do |f|

  = render 'shared/error_messages/validation', :target => @tickets_purchase

  = hidden_fields_from_nested_hash :saved_params => @saved_params

  - [:member_id].each do |attr|
    = f.hidden_field attr unless @tickets_purchase.public_send(attr).nil?

  %dl.form_fields
    .dl_item.field
      %dt ?
      %dd
        = f.select :ticket_book_id,
            options_from_collection_for_select(@ticket_books,
              :id, :tickets_number,
              :selected => @tickets_purchase.ticket_book.id)

  .actions
    = f.submit t('buttons.continue'), :class => 'easy'
%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
