%h2= t('register.new_membership_purchase.title')

= form_for @membership_purchase, :as  => :membership_purchase,
                                 :url => 'create_membership_purchase' do |f|

  = render 'shared/error_messages/validation', :target => @membership_purchase

  -# = hidden_fields_from_nested_hash @saved_params

  = f.fields_for :membership do |membership_fields|
    %dl.form_fields
      .dl_item.field
        %dt ?
        %dd
          = membership_fields.select :membership_type_id,
              options_from_collection_for_select(@membership_types,
                :id, :unique_title,
                :selected => (@membership_type && @membership_type.id))
      .dl_item.field
        %dt ?
        %dd
          = membership_fields.select :activity_period_id,
              options_from_collection_for_select(@activity_periods,
                :id, :unique_title,
                :selected => (@activity_period && @activity_period.id))

  .actions
    = f.submit t('buttons.continue'), :class => 'easy'
%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
