%h2= t('register.new_ticket_purchase.title')
= form_for @tickets_purchase, :as  => :tickets_purchase,
                              :url => 'create_ticket_purchase' do |f|

  = render 'shared/error_messages/validation', :target => @tickets_purchase

  %dl.form_fields
    - saved_param_names = [:participant_entry_type, :event_title, :date]
    - saved_param_names << :person_id if @member
    - saved_param_names << :guest if @guest
    = hidden_field_tags_from_hash params.slice(saved_param_names)

    = f.select :ticket_book,
               options_from_collection_for_select(@ticket_books,
                                                  :id, :tickets_number,
                                                  :selected => @tickets_purchase.ticket_book.id )
  .actions
    = f.submit t('buttons.continue')
%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
