%h2= t('register.new_ticket_purchase.title')

= form_for @tickets_purchase, :as  => :tickets_purchase,
                              :url => 'create_ticket_purchase' do |f|

  = render 'shared/error_messages/validation', :target => @tickets_purchase

  -# = hidden_field_tags_from_nested_hash @saved_params

  %dl.form_fields

    = render 'shared/forms/belongs_to_association',
             :form_builder => f,
             :association  => :ticket_book,
             :collection   => @ticket_books,
             :association_name_attribute => :tickets_number

  .actions
    = f.submit t('buttons.continue'), :class => 'easy'
%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
