%h2= t('register.new_entry.title')

= form_for @event_entry, :as  => :event_entry,
                         :url => 'create_entry' do |f|

  = render 'shared/error_messages/validation', :target => @event_entry

  -# = hidden_field_tags_from_nested_hash @saved_params

  - if @guest
    = fields_for :guest, @guest do |guest_fields|
      - [:first_name, :last_name].each do |attr|
        = guest_fields.hidden_field(attr)

  %dl.form_fields
    .dl_item.field
      %dt ?
      %dd
        = f.select :event_id,
            options_from_collection_for_select(@events,
              :id, :virtual_long_title,
              :selected => @event_entry.event_id)

  .actions
    = f.submit t('buttons.continue'), :class => 'easy'

= render('person_attended_events') if @member

%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
