%h2= t('register.new_membership_purchase.title')

= form_for @membership_purchase, :as  => :membership_purchase,
                                 :url => 'create_membership_purchase' do |f|

  = render 'shared/error_messages/validation', :target => @membership_purchase

  -# = hidden_field_tags_from_nested_hash @saved_params

  %dl.form_fields

    = render 'shared/forms/belongs_to_association',
             :form_builder => f,
             :association  => :membership,
             :collection   => @memberships,
             :association_name_attribute => :virtual_title

  .actions
    = f.submit t('buttons.continue'), :class => 'easy'
%footer
  = link_to t('register.choose_person.title'), :action => :choose_person
