%aside#person_attended_events
  -# NOTE: using <a name="..."> as an anchor:
  %a{:name => 'person_attended_events'}
  %section#attended_events
    - unless @attended_events.nil?
      %h2= t 'register.compose_transaction.subheaders.attended_events'
      %ol
        - @attended_events.each do |e|
          %li= e.virtual_long_title

    -# NOTE: using 'action' only to scroll to the anchor.
    -# TODO: add :'data-remote' => 'true' and fix it.
    %form{:action => '#person_attended_events', :method => 'get'}
      -# FIXME: not sure all params should be stored
      = hidden_fields_from_nested_hash params
      %span.actions
        - if @attended_events.nil?
          %button{ :name  => 'button',
                   :type  => 'submit',
                   :value => 'show_attended_events' }
            = t('buttons.show_attended_events')
        - else
          %button{ :name  => 'button',
                   :type  => 'submit',
                   :value => 'hide_attended_events' }
            = t('buttons.hide_attended_events')
