%h1= t '.header'
%section
  %h2= t '.choose_member'
  %ul.compact
    - @members.each do |member|
      %li= link_to select_pictogram + ' ' + member.ordered_full_name, |
           { :action    => :compose_transaction,                      |
             :member_id => member.id },                               |
           :class => 'select resource'                                |
%section
  %h2= t '.enter_guest'
  = render 'form_for_guest'