%h1= t '.header'

- if @events.empty?
  %strong= t 'register.new_entry.no_current_event'
- else
  %form{ :action => url_for(:action => 'choose_person'),
         :method => 'get' }
    = hidden_fields_from_nested_hash @saved_params
    %label
      = t 'formats.attribute_name:',
          :attribute => t('register.new_entry.current_event')
      = @event ? @event.virtual_long_title : '∅'
    = select_tag :event_id,
        options_from_collection_for_select(@events,
          :id, :virtual_long_title,
          :selected    => @event ? @event.id : nil ),
        :include_blank => true

    %span.actions
      %button.preselect{ :type  => 'submit',
                         :name  => 'button',
                         :value => 'select_current_event' }
        = t('buttons.change')

%section
  %h2= t '.choose_member'

  = render 'form_for_member'

%section
  %h2= t '.enter_guest'

  = render 'form_for_guest'

= render 'recent_activity_lookup'
