%h1= t '.header'
%table
  %tbody
    %tr
      %th{ :scope => 'row' }<
        = t('.current_members_count')
      %td.number<
        %strong= Member.current.count
    %tr
      %th{ :scope => 'row' }<
        = t('.active_members_count')
      %td.number<
        = Member.account_active.count
    %tr
      %th{ :scope => 'row' }<
        = t('.all_members_count')
      %td.number<
        %i= Member.count
