<% content_for :side_menu_list_items do %>
  <li>
    <%= link_to t('headers.all_users'), admin_users_path,
                :class => 'display resource' %>
  </li>
  <li>
    <%= link_to t('headers.all_known_ips'), admin_known_ips_path,
                :class => 'display resource' %>
  </li>
  <li>
    <%= link_to t('headers.all_safe_user_ips'), admin_safe_user_ips_path,
                :class => 'display resource' %>
  </li>
<% end %>

<h1><%= t '.header' %></h1>

<section>

  <h2><%= t 'headers.data' %></h2>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('headers.all_users'),
                    admin_users_path,
                    :class => 'display resource' %></h3>

    <p>
      <% @users.each do |user| %>
        <%= link_to show_pictogram(2)+' '+user.username, user,
                    :class => 'display resource' %>
      <% end %>
    </p>

    <footer>
      <%= link_to add_pictogram(2)+' '+t('admin.users.links.new'),
                  new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %>
    </footer>

  </section>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('headers.all_known_ips'),
                    admin_known_ips_path,
                    :class => 'display resource' %></h3>

    <p>
      <% @known_ips.each do |known_ip| %>
        <% note = known_ip.description.blank? ?
                  '' : " (#{known_ip.description})" %>
          <%= link_to show_pictogram(2)+' '+known_ip.ip+note, known_ip,
                      :class => 'display resource' %>
      <% end %>
    </p>

    <footer>
      <%= link_to add_pictogram(2)+' '+t('admin.known_i_ps.links.new'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %>
    </footer>

  </section>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('headers.all_safe_user_ips'),
                    admin_safe_user_ips_path,
                    :class => 'display resource' %></h3>

  </section>

</section>

<section>

  <h2><%= t 'headers.tools' %></h2>

</section>
