<h1><%= t '.header' %></h1>

<section>

  <h2><%= t 'headers.data' %></h2>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('admin.users.index.title'),
                    admin_users_path,
                    :class => 'display resource' %></h3>

    <ul class="compact">
      <%- @users.each do |user| -%>
        <li><%= link_to show_pictogram(2)+' '+user.username, user,
                        :class => 'display resource' %></li>
      <%- end -%>
    </ul>

    <footer>
      <%= link_to add_pictogram(2)+' '+t('admin.users.new.header'),
                  new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %>
    </footer>

  </section>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('admin.known_i_ps.index.title'),
                    admin_known_ips_path,
                    :class => 'display resource' %></h3>

    <ul class="compact">
      <%- @known_ips.each do |known_ip| -%>
        <% note = known_ip.description.blank? ?
                  '' : " (#{known_ip.description})" %>
        <li><%= link_to show_pictogram(2)+' '+known_ip.ip+note, known_ip,
                        :class => 'display resource' %></li>
      <%- end -%>
    </ul>

    <footer>
      <%= link_to add_pictogram(2)+' '+t('admin.known_i_ps.new.header'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %>
    </footer>

  </section>

  <section>

    <h3><%= link_to list_all_pictogram(2)+' '+t('admin.safe_user_i_ps.index.title'),
                    admin_safe_user_ips_path,
                    :class => 'display resource' %></h3>

  </section>

</section>

<section>

  <h2><%= t 'headers.tools' %></h2>

</section>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li>
    <%= link_to list_all_pictogram+' '+t('admin.users.index.title'),
                admin_users_path,
                :class => 'display resource' %>
  </li>
  <li>
    <%= link_to list_all_pictogram+' '+t('admin.known_i_ps.index.title'),
                admin_known_ips_path,
                :class => 'display resource' %>
  </li>
  <li>
    <%= link_to list_all_pictogram+' '+t('admin.safe_user_i_ps.index.title'),
                admin_safe_user_ips_path,
                :class => 'display resource' %>
  </li>
<% end %>
