<header>
  <% if current_user %>
    <div id="main_logo">
      <div id="logo_box" style="background-color:<%= user_permissions_color_code(current_user) %>;" >
        <%= link_to logo, root_path %>
      </div>
      <div id="logo_menu">
        <%= render 'layouts/main_menu' %>
      </div>
    </div>
    <%= render 'layouts/main_menu' %>
  <% else %>
    <nav class="round">
      <ul>
        <li><%= link_to t('sessions.new.log_in_please'), login_path %></li>
      </ul>
    </nav>
  <% end %>
</header>
