<nav class="main_menu">
  <% if current_user %>
    <ul>
      <li>
        <%= link_to t("monitor.overview.title"),
                    monitor_overview_path %>
      </li><!-- no space!
   --><li>
        <%= link_to t("register.overview.title"),
                    register_overview_path %>
      </li><!-- no space!
      <%- if current_user.secretary? -%>
     --><li>
          <%= link_to t("secretary_tools.overview.title"),
                      secretary_tools_overview_path %>
        </li><!-- no space!
      <%- else -%>
     --><li class="disabled">
          <span class="disabled_link">
            <%= t("secretary_tools.overview.title") %>
          </span>
        </li><!-- no space!
      <%- end -%>
      <%- if current_user.manager? -%>
     --><li>
          <%= link_to t("manager_tools.overview.title"),
                      manager_tools_overview_path %>
        </li><!-- no space!
      <%- else -%>
     --><li class="disabled">
          <span class="disabled_link">
            <%= t("manager_tools.overview.title") %>
          </span>
        </li><!-- no space!
      <%- end -%>
      <%- if current_user.admin? -%>
     --><hr /><!-- no space!
     --><li><!-- no space!
       --><%= link_to t("admin.admin_tools.overview.title"),
                      admin_admin_tools_overview_path %>
        </li>
      <%- else -%>
     --><hr /><!-- no space!
     --><li class="disabled"><!-- no space!
       --><span class="disabled_link">
            <%= t("admin.admin_tools.overview.title") %>
          </span>
        </li>
      <%- end -%>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to t('sessions.new.log_in_please'), login_path %></li>
    </ul>
  <% end %>
</nav>
