<nav class="main_menu">
  <% if current_user %>
    <ul>
      <% entry_register_path=secretary_tools_path=manager_tools_path='#' %>

      <li>
        <%= link_to t("application_layout.navigation_links.monitor"),
                    monitor_overview_path %>
      </li><!-- no space!
   --><li>
        <%= link_to t("application_layout.navigation_links.entry_register"),
                    entry_register_path %>
      </li><!-- no space!
      <%- if current_user.secretary? -%>
     --><li>
          <%= link_to t("application_layout.navigation_links.secretary_tools"),
                      secretary_tools_path %>
        </li><!-- no space!
      <%- else -%>
     --><li class="disabled">
          <span class="disabled_link">
            <%= t("application_layout.navigation_links.secretary_tools") %>
          </span>
        </li><!-- no space!
      <%- end -%>
      <%- if current_user.manager? -%>
     --><li>
          <%= link_to t("application_layout.navigation_links.manager_tools"),
                      manager_tools_path %>
        </li><!-- no space!
      <%- else -%>
     --><li class="disabled">
          <span class="disabled_link">
            <%= t("application_layout.navigation_links.manager_tools") %>
          </span>
        </li><!-- no space!
      <%- end -%>
      <%- if current_user.admin? -%>
     --><hr /><!-- no space!
     --><li><!-- no space!
       --><%= link_to t("application_layout.navigation_links.admin_tools"),
                      admin_admin_tools_overview_path %>
        </li>
      <%- else -%>
     --><hr /><!-- no space!
     --><li class="disabled"><!-- no space!
       --><span class="disabled_link">
            <%= t("application_layout.navigation_links.admin_tools") %>
          </span>
        </li>
      <%- end -%>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to t('sessions.new.log_in_please'), login_path %></li>
    </ul>
  <% end %>
</nav>
