<nav class="round">
  <ul>
    <% entry_register_path=secretary_tools_path= %>
    <%              manager_tools_path=admin_tools_path= %>
    <%              root_path # temporary fix %>
    <% admin_tools_path=admin_users_path # temporary fix %>
    <li><%= link_to t("application_layout.navigation_links.monitor"),
                    monitor_overview_path,
                    :class => 'disabled' %></li>
    <li><%= link_to t("application_layout.navigation_links.entry_register"),
                    entry_register_path,
                    :class => 'disabled' %></li>
    <li><%= link_to t("application_layout.navigation_links.secretary_tools"),
                    secretary_tools_path,
                    :class => 'disabled' %></li>
    <li><%= link_to t("application_layout.navigation_links.manager_tools"),
                    manager_tools_path,
                    :class => 'disabled' %></li>
    <li>|</li>
    <li><%= link_to t("application_layout.navigation_links.admin_tools"),
                    admin_tools_path %></li>
    <li class="logout">
      <%= link_to t("application_layout.navigation_links.sign_out"),
                  logout_path, :method => :delete, :class => "logout" %>
    </li>
  </ul>
</nav>
