<nav class="round">
  <ul>
    <% entry_register_path=secretary_tools_path=manager_tools_path='#' %>
    <% admin_tools_path=admin_users_path # temporary fix %>
    
    <li>
      <%= link_to t("application_layout.navigation_links.monitor"),
                  monitor_overview_path %>
    </li>
    <li>
      <%= link_to t("application_layout.navigation_links.entry_register"),
                  entry_register_path %>
    </li>
    <% if current_user.secretary? %>
      <li>
        <%= link_to t("application_layout.navigation_links.secretary_tools"),
                    secretary_tools_path %>
      </li>
    <% else %>
      <li class="disabled">
        <span class="disabled_link">
          <%= t("application_layout.navigation_links.secretary_tools") %>
        </span>
      </li>
    <% end %>
    <% if current_user.manager? %>
      <li>
        <%= link_to t("application_layout.navigation_links.manager_tools"),
                    manager_tools_path %>
      </li>
    <% else %>
      <li class="disabled">
        <span class="disabled_link">
          <%= t("application_layout.navigation_links.manager_tools") %>
        </span>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="separator">|</li>
      <li>
        <%= link_to t("application_layout.navigation_links.admin_tools"),
                    admin_tools_path %>
      </li>
    <% else %>
      <li class="disabled separator">|</li>
      <li class="disabled">
        <span class="disabled_link">
          <%= t("application_layout.navigation_links.admin_tools") %>
        </span>
      </li>
    <% end %>
    <li class="logout_item">
      <%= link_to t("application_layout.navigation_links.sign_out"),
                  logout_path,
                  :method => :delete,
                  :class  => "logout_button round" %>
    </li>
    
  </ul>
</nav>
