<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section>
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, :class => "flash #{name}") %>
        <% end %>
        <%= render 'layouts/side_menu' %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>  
</html>
