<!doctype html>
%html{ :lang => @locale, :'xml:lang' => @locale }
  %head
    %meta{ :charset => 'utf-8' }
    %title= title
    %meta{ :name    => 'description',
           :content => 'Raclette: Tangueando management application' }
    %meta{ :name    => 'viewport',
           :content => 'width=device-width' }
    = csrf_meta_tags

    = render 'layouts/stylesheets'

    = javascript_include_tag 'application'
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
  %body

    = render 'layouts/developper_links'

    .container

      = render 'layouts/header'

      %section
        - flash.each do |name, msg|
          %div{ :class => "flash #{name}" }= msg

        = render 'layouts/side_menu'

        %div{ :role => 'main' }

          = yield  # <<<< yielding here! <<<<

      = render 'layouts/footer'

      #debug_params.debug
        ~ debug(params) if Rails.env.development?
      #debug_session.debug
        ~ debug(session.to_hash) if Rails.env.development?
