<!DOCTYPE html>
<%= content_tag :html, :lang => @locale, 'xml:lang' => @locale do %>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <%= render 'layouts/developper_links' %>
    <div class="container">
      <%= render 'layouts/header' %>
      <section>
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, :class => "flash #{name}") %>
        <% end %>
        <%= render 'layouts/side_menu' %>

        <%= yield %>

      </section>
      <%= render 'layouts/footer' %>
      <div id="debug_params">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
<% end # </html> %>
