= form_for @member, :as => :member, :url => @member_form_url do |f|
  - unless @member.person.nil?

    = render('shared/error_messages/validation', :target => @member.person)

  = render 'shared/error_messages/validation', :target => @member

  %dl.form_fields
    = f.fields_for(:person) do |person_fields|
      - [ :first_name, :last_name, :name_title, :nickname_or_other ].each do |attribute|

        = render 'shared/forms/attribute',
                 :form_builder => person_fields,
                 :attribute    => attribute

      = render 'shared/forms/attribute',
               :form_builder       => person_fields,
               :attribute          => :email,
               :input_html_options => { :type => :email }

    - [ :been_member_by, :free_tickets_count ].each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

  .actions
    = f.submit
