%hgroup
  %h1= t '.header'

  %h2#members_count
    - if @filtering_values.blank?
      = t '.count_total', :count => Member.count
    - else
      = t '.count_filtered', :count => @filtered_members_count,
                             :total => Member.count

#members_table

  = render 'shared/tables/filtered_index',
           :models           => @members,
           :attributes       => @attributes,
           :html_table_id    => :members,
           :filtering_values => @filtering_values

= render('downloads')

#members_mailing_list

  = render('emailing_list')

%footer
  = link_to add_pictogram(2) + ' ' + t('members.new.header'),
            new_member_path,
            :title => t('actions.create'),
            :class => 'add resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to add_pictogram + ' ' + t('members.new.title'),
              new_member_path,
              :title => t('actions.create'),
              :class => 'add resource'
