%h1= t '.header', :name => @member.virtual_full_name

%section
  %h2= t 'members.show.subheaders.member_data'

  %dl.show

    = render 'shared/lists/description',
      :object     => @member,
      :attributes => @attributes

%section
  %h2= Member.human_attribute_name(:memberships)

  - unless @memberships.empty?
    = render 'shared/tables/simple_index',
             :collection    => @memberships,
             :attributes    => @membership_attributes,
             :html_table_id => :memberships

%section
  %h2= Person.human_attribute_name(:attended_events)

  - unless @attended_events.empty?
    = render 'shared/tables/simple_index',
             :collection    => @attended_events,
             :attributes    => @attended_event_attributes,
             :html_table_id => :attended_events

%footer
  = link_to edit_pictogram(3) + ' ' + t('members.edit.header',
                                        :name => @member.virtual_full_name),
            edit_member_path(@member),
            :class => 'modify resource'
  = link_to list_all_pictogram(3) + ' ' + t('members.index.header'),
            members_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('members.index.title'),
              members_path,
              :class => 'display resource'
  %li
    = link_to add_pictogram + ' ' + t('members.new.title'),
              new_member_path,
              :title => t('actions.create'),
              :class => 'add resource'
